<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Eclipse 4.7.x (Oxygen) - Local" sequenceNumber="14">
<locations>
<location path="${eclipse_home}/development-4.7.x-local" type="Directory"/>
</locations>
</target>
