<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.eclipse.chemclipse.chromatogram.filter.chromatogramFilterSupplier" name="Chromatogram Filter" schema="schema/org.eclipse.chemclipse.chromatogram.filter.chromatogramFilter.exsd"/>
   <extension
         point="org.eclipse.chemclipse.chromatogram.filter.chromatogramFilterSupplier">
      <ChromatogramFilterSupplier
            description="This filter selects the chromatogram range."
            filter="org.eclipse.chemclipse.chromatogram.filter.impl.ChromatogramFilterSelection"
            filterName="Set Chromatogram Selection"
            filterSettings="org.eclipse.chemclipse.chromatogram.filter.impl.settings.FilterSettingsSelection"
            id="org.eclipse.chemclipse.chromatogram.filter.setChromatogramSelection">
      </ChromatogramFilterSupplier>
      <ChromatogramFilterSupplier
            description="This filter transfers identification targets to peaks."
            filter="org.eclipse.chemclipse.chromatogram.filter.impl.ChromatogramFilterTargetTransfer"
            filterName="Scan Target to Peak Transfer"
            filterSettings="org.eclipse.chemclipse.chromatogram.filter.impl.settings.FilterSettingsTargetTransfer"
            id="org.eclipse.chemclipse.chromatogram.filter.targetTransferChromatogramSelection">
      </ChromatogramFilterSupplier>      
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.chemclipse.chromatogram.filter.impl.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
