<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.chromatogram.xxd.integrator.combinedIntegratorSupplier">
      <CombinedIntegratorSupplier
            description="%PeakIntegratorTrapezoidDescription"
            id="org.eclipse.chemclipse.chromatogram.xxd.integrator.supplier.trapezoid.combinedIntegrator"
            integrator="org.eclipse.chemclipse.chromatogram.xxd.integrator.supplier.trapezoid.core.CombinedIntegrator"
            integratorName="%CombinedIntegratorTrapezoid"
            integratorSettings="org.eclipse.chemclipse.chromatogram.xxd.integrator.supplier.trapezoid.settings.CombinedIntegrationSettings">
      </CombinedIntegratorSupplier>
   </extension>
   <extension
         point="org.eclipse.chemclipse.chromatogram.xxd.integrator.chromatogramIntegratorSupplier">
      <ChromatogramIntegratorSupplier
            description="%PeakIntegratorTrapezoidDescription"
            id="org.eclipse.chemclipse.chromatogram.xxd.integrator.supplier.trapezoid.chromatogramIntegrator"
            integrator="org.eclipse.chemclipse.chromatogram.xxd.integrator.supplier.trapezoid.core.ChromatogramIntegrator"
            integratorName="%ChromatogramIntegratorTrapezoid"
            integratorSettings="org.eclipse.chemclipse.chromatogram.xxd.integrator.supplier.trapezoid.settings.ChromatogramIntegrationSettings">
      </ChromatogramIntegratorSupplier>
   </extension>
   <extension
         point="org.eclipse.chemclipse.chromatogram.xxd.integrator.peakIntegratorSupplier">
      <PeakIntegratorSupplier
            description="%PeakIntegratorTrapezoidDescription"
            id="org.eclipse.chemclipse.chromatogram.xxd.integrator.supplier.trapezoid.peakIntegrator"
            integrator="org.eclipse.chemclipse.chromatogram.xxd.integrator.supplier.trapezoid.core.PeakIntegrator"
            integratorName="%PeakIntegratorTrapezoid"
            integratorSettings="org.eclipse.chemclipse.chromatogram.xxd.integrator.supplier.trapezoid.settings.PeakIntegrationSettings">
      </PeakIntegratorSupplier>
   </extension>
</plugin>