<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.chromatogram.xxd.integrator.combinedIntegratorSupplier">
      <CombinedIntegratorSupplier
            description="This extension point tries to implement a ChemStation similar integrator."
            id="org.eclipse.chemclipse.chromatogram.xxd.integrator.supplier.trapezoid.combinedIntegrator"
            integrator="org.eclipse.chemclipse.chromatogram.xxd.integrator.supplier.trapezoid.core.CombinedIntegrator"
            integratorName="Combined Integrator Trapezoid"
            integratorSettings="org.eclipse.chemclipse.chromatogram.xxd.integrator.supplier.trapezoid.settings.CombinedIntegrationSettings">
      </CombinedIntegratorSupplier>
   </extension>
   <extension
         point="org.eclipse.chemclipse.chromatogram.xxd.integrator.chromatogramIntegratorSupplier">
      <ChromatogramIntegratorSupplier
            description="This extension point tries to implement a ChemStation similar chromatogram integrator."
            id="org.eclipse.chemclipse.chromatogram.xxd.integrator.supplier.trapezoid.chromatogramIntegrator"
            integrator="org.eclipse.chemclipse.chromatogram.xxd.integrator.supplier.trapezoid.core.ChromatogramIntegrator"
            integratorName="Chromatogram Integrator Trapezoid"
            integratorSettings="org.eclipse.chemclipse.chromatogram.xxd.integrator.supplier.trapezoid.settings.ChromatogramIntegrationSettings">
      </ChromatogramIntegratorSupplier>
   </extension>
   <extension
         point="org.eclipse.chemclipse.chromatogram.xxd.integrator.peakIntegratorSupplier">
      <PeakIntegratorSupplier
            description="This extension point tries to implement a ChemStation similar peak integrator."
            id="org.eclipse.chemclipse.chromatogram.xxd.integrator.supplier.trapezoid.peakIntegrator"
            integrator="org.eclipse.chemclipse.chromatogram.xxd.integrator.supplier.trapezoid.core.PeakIntegrator"
            integratorName="Peak Integrator Trapezoid"
            integratorSettings="org.eclipse.chemclipse.chromatogram.xxd.integrator.supplier.trapezoid.settings.PeakIntegrationSettings">
      </PeakIntegratorSupplier>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.chemclipse.chromatogram.xxd.integrator.supplier.trapezoid.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>