<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.chemclipse.converter.ui.converterPreferencePage"      
            class="org.eclipse.chemclipse.xir.converter.ui.preferences.ConverterPreferencePage"
            id="org.eclipse.chemclipse.xir.converter.ui.converterPreferencePage"
            name="Converter XIR">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.chemclipse.converter.ui.converterPreferencePage"      
            class="org.eclipse.chemclipse.xir.converter.ui.preferences.PreferencePageISD"
            id="org.eclipse.chemclipse.xir.converter.ui.preferencePageISD"
            name="Converter ISD">
      </page>
   </extension>   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.chemclipse.xir.converter.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>   

</plugin>
