<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="org.eclipse.chemclipse.chromatogram.xxd.process.supplier.pca.ui.modelContribution"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
      		category="org.eclipse.chemclipse.xxd.process.ui.preferences.processPreferencePage"
            class="org.eclipse.chemclipse.chromatogram.xxd.process.supplier.pca.ui.preferences.PreferencePage"
            id="org.eclipse.chemclipse.chromatogram.xxd.process.supplier.pca.ui.preferences.preferencePage"
            name="PCA">
      </page> 
      <page
      		category="org.eclipse.chemclipse.chromatogram.xxd.process.supplier.pca.ui.preferences.preferencePage"
            class="org.eclipse.chemclipse.chromatogram.xxd.process.supplier.pca.ui.preferences.PreferencePageScorePlot"
            id="org.eclipse.chemclipse.chromatogram.xxd.process.supplier.pca.ui.preferences.preferencePageScorePlot"
            name="Score Plot">
      </page>
      <page
      		category="org.eclipse.chemclipse.chromatogram.xxd.process.supplier.pca.ui.preferences.preferencePage"
            class="org.eclipse.chemclipse.chromatogram.xxd.process.supplier.pca.ui.preferences.PreferencePageLoadingPlot"
            id="org.eclipse.chemclipse.chromatogram.xxd.process.supplier.pca.ui.preferences.preferencePageLoadingPlot"
            name="Loading Plot">
      </page>
      </extension>
</plugin>
