<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.chemclipse.rcp.app.ui.preferences.preferencePage"
            class="org.eclipse.chemclipse.chromatogram.msd.comparison.ui.preferences.PreferencePage"
            id="org.eclipse.chemclipse.chromatogram.msd.comparison.ui.preferences.preferencePage"
            name="MS Comparison">
      </page>
   </extension>
</plugin>
