<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.chemclipse.chromatogram.filter.ui.preferences.filterPreferencePage"
            class="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.scan.ui.preferences.PreferencePage"
            id="org.eclipse.chemclipse.chromatogram.msd.filter.supplier.scan.ui.preferences.preferencePage"
            name="Chromatogram Scan Filter">
      </page>
   </extension>
   <extension
         point="org.eclipse.chemclipse.xxd.process.ui.menu.icon">
      <icon
            class="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.scan.ui.icon.MenuIcon"
            id="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.scanremover">
      </icon>
   </extension>  
</plugin>
