# File formats are sensitive due to compatibility constraints so changes require approval from the project founder.
chemclipse/plugins/org.eclipse.chemclipse.xxd.converter.supplier.chemclipse/ @eselmeister
