<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.eclipse.chemclipse.chromatogram.wsd.filter.chromatogramFilterSupplier" name="Chromatogram Filter" schema="schema/org.eclipse.chemclipse.chromatogram.wsd.filter.chromatogramFilter.exsd"/>
   <extension-point id="org.eclipse.chemclipse.chromatogram.wsd.filter.peakFilterSupplier" name="Peak Filter" schema="schema/org.eclipse.chemclipse.chromatogram.wsd.filter.peakFilter.exsd"/>
</plugin>
