<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.chromatogram.xxd.report.chromatogramReportSupplier">
      <ChromatogramReportSupplier
            description="Reports Peaks and Identifications as ASCII text."
            fileExtension=".txt"
            fileName="OpenChromReport"
            id="org.eclipse.chemclipse.chromatogram.xxd.report.supplier.openchrom.chromatogramReportASCII"
            reportGenerator="org.eclipse.chemclipse.chromatogram.xxd.report.supplier.openchrom.core.Report1"
            reportName="OpenChrom Report (*.txt)"
            reportSettings="org.eclipse.chemclipse.chromatogram.xxd.report.supplier.openchrom.settings.ReportSettings">
      </ChromatogramReportSupplier>
      <ChromatogramReportSupplier
            description="Chromatogram Report Area%."
            fileExtension=".txt"
            fileName="AreaPercentReport"
            id="org.eclipse.chemclipse.chromatogram.xxd.report.supplier.openchrom.areapercentreport"
            reportGenerator="org.eclipse.chemclipse.chromatogram.xxd.report.supplier.openchrom.core.Report2"
            reportName="Area Percent Report (*.txt)"
            reportSettings="org.eclipse.chemclipse.chromatogram.xxd.report.supplier.openchrom.settings.ReportSettings">
      </ChromatogramReportSupplier>    
      <ChromatogramReportSupplier
            description="Chromatogram Quantitation Report."
            fileExtension=".txt"
            fileName="QuantitationReport"
            id="org.eclipse.chemclipse.chromatogram.xxd.report.supplier.openchrom.quantitationreport"
            reportGenerator="org.eclipse.chemclipse.chromatogram.xxd.report.supplier.openchrom.core.Report3"
            reportName="Quantitation Report (*.txt)"
            reportSettings="org.eclipse.chemclipse.chromatogram.xxd.report.supplier.openchrom.settings.ReportSettings">
      </ChromatogramReportSupplier>            
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.chemclipse.chromatogram.xxd.report.supplier.openchrom.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
