<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="org.eclipse.chemclipse.msd.identifier.supplier.proteoms.ui.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.chemclipse.chromatogram.msd.identifier.ui.preferences.identifierPreferencePage"
            class="org.eclipse.chemclipse.msd.identifier.supplier.proteoms.ui.preferences.PreferencePage"
            id="org.eclipse.chemclipse.msd.identifier.supplier.proteoms.ui.preferences.preferencePage"
            name="ProteoMS">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.chemclipse.msd.identifier.supplier.proteoms.ui"
            name="Peptide Tandem Mass Spectra">
      </category>
      <wizard
            category="org.eclipse.chemclipse.processors"
            class="org.eclipse.chemclipse.msd.identifier.supplier.proteoms.ui.project.CreateProjectWizard"
            icon="icons/16x16/demo.gif"
            id="org.eclipse.chemclipse.msd.identifier.supplier.proteoms.ui.wizards.CreateProjectWizard"
            name="Peptide Tandem Mass Spectra"
            project="true">
      </wizard>
   </extension>
   <extension
         id="proteoms_project_nature"
         name="Proteoms Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.chemclipse.msd.identifier.supplier.proteoms.ui.ProteomsProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="org.eclipse.chemclipse.msd.identifier.supplier.proteoms.ui.import.sampleCategory"
            name="Protein MS/MS data">
      </category>
      <wizard
            category="org.eclipse.chemclipse.msd.identifier.supplier.proteoms.ui.import.sampleCategory"
            class="org.eclipse.chemclipse.msd.identifier.supplier.proteoms.ui.importdata.ImportWizard"
            icon="icons/sample.gif"
            id="org.eclipse.chemclipse.msd.identifier.supplier.proteoms.ui.import.ImportMSdataWizard"
            name="Import protein MS/MS data">
         <description>
            Import a protein MS/MS file from the local file system into the project.
         </description>
      </wizard>
   </extension>
</plugin>
