<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.msd.converter.chromatogramSupplier">
      <ChromatogramSupplier
            description="Reads and Writes mzXML Chromatograms"
            exportConverter="org.eclipse.chemclipse.msd.converter.supplier.mzxml.converter.ChromatogramExportConverter"
            fileExtension=".mzXML"
            filterName="mzXML Chromatogram (*.mzXML)"
            id="org.eclipse.chemclipse.msd.converter.supplier.mzxml"
            importContentMatcher="org.eclipse.chemclipse.msd.converter.supplier.mzxml.converter.ChromatogramFileContentMatcher"
            importConverter="org.eclipse.chemclipse.msd.converter.supplier.mzxml.converter.ChromatogramImportConverter"
            importMagicNumberMatcher="org.eclipse.chemclipse.msd.converter.supplier.mzxml.converter.MagicNumberMatcher"
            isExportable="true"
            isImportable="true">
      </ChromatogramSupplier>
   </extension>
   <extension
         point="org.eclipse.chemclipse.msd.converter.massSpectrumSupplier">
      <MassSpectrumSupplier
            description="Reads mzXML Mass Spectra"
            exportConverter="org.eclipse.chemclipse.msd.converter.supplier.mzxml.converter.MassSpectrumExportConverter"
            fileExtension=".mzXML"
            filterName="mzXML Mass Spectra (*.mzXML)"
            id="org.eclipse.chemclipse.msd.converter.supplier.mzxml.ms"
            importContentMatcher="org.eclipse.chemclipse.msd.converter.supplier.mzxml.converter.MassSpectrumFileContentMatcher"
            importConverter="org.eclipse.chemclipse.msd.converter.supplier.mzxml.converter.MassSpectrumImportConverter"
            importMagicNumberMatcher="org.eclipse.chemclipse.msd.converter.supplier.mzxml.converter.MagicNumberMatcher"
            isExportable="false"
            isImportable="true">
      </MassSpectrumSupplier>
   </extension>
</plugin>