<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.msd.converter.chromatogramSupplier">
      <ChromatogramSupplier
            description="Reads and Writes mzXML Chromatograms"
            exportConverter="org.eclipse.chemclipse.msd.converter.supplier.mzxml.converter.ChromatogramExportConverter"
            fileExtension=".mzXML"
            filterName="mzXML Chromatogram (*.mzXML)"
            id="org.eclipse.chemclipse.msd.converter.supplier.mzxml"
            importConverter="org.eclipse.chemclipse.msd.converter.supplier.mzxml.converter.ChromatogramImportConverter"
            importMagicNumberMatcher="org.eclipse.chemclipse.msd.converter.supplier.mzxml.converter.MagicNumberMatcher"
            isExportable="false"
            isImportable="true">
      </ChromatogramSupplier>
   </extension>

</plugin>
