<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.chemclipse.rcp.app.ui.preferences.settingsPreferencePage"
            class="org.eclipse.chemclipse.support.ui.preferences.PreferencePage"
            id="org.eclipse.chemclipse.support.ui.supportPreferencePage"
            name="Support">
      </page>
   </extension>
</plugin>
