<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.chromatogram.xxd.integrator.chromatogramIntegratorSupplier">
      <ChromatogramIntegratorSupplier
            description="This integrator calculates the area of all ions of the chromatogram."
            id="org.eclipse.chemclipse.chromatogram.msd.integrator.supplier.sumarea.chromatogramIntegrator"
            integrator="org.eclipse.chemclipse.chromatogram.msd.integrator.supplier.sumarea.core.ChromatogramIntegrator"
            integratorName="Sumarea Chromatogram Integrator"
            integratorSettings="org.eclipse.chemclipse.chromatogram.msd.integrator.supplier.sumarea.settings.ChromatogramIntegrationSettings">
      </ChromatogramIntegratorSupplier>
   </extension>
</plugin>