<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.chemclipse.chromatogram.msd.peak.detector.supplier.amdis.ui.modelContribution"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.chemclipse.chromatogram.msd.peak.detector.ui.preferences.peakDetectorPreferencePage"
            class="org.eclipse.chemclipse.chromatogram.msd.peak.detector.supplier.amdis.ui.preferences.PreferencePage"
            id="org.eclipse.chemclipse.chromatogram.msd.peak.detector.supplier.amdis.ui.preferences.amdisPeakDetectorPreferencePage"
            name="AMDIS (extern)">
      </page>
   </extension>
</plugin>
