<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.chromatogram.msd.filter.massSpectrumFilterSupplier">
      <MassSpectrumFilterSupplier
            config="org.eclipse.chemclipse.chromatogram.msd.filter.supplier.ionremover.settings.MassSpectrumFilterSettings"
            description="This filter removes all specified ions from a mass spectrum."
            filter="org.eclipse.chemclipse.chromatogram.msd.filter.supplier.ionremover.core.MassSpectrumFilter"
            filterName="Ion Remover Filter"
            id="org.eclipse.chemclipse.chromatogram.msd.filter.supplier.ionremover.massspectrum">
      </MassSpectrumFilterSupplier>
   </extension>
     <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.chemclipse.chromatogram.msd.filter.supplier.ionremover.preferences.PreferenceInitializer">
      </initializer>
   </extension> 
</plugin>
