<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.chemclipse.converter.processMethodSupplier" name="Method Converter Supplier" schema="schema/org.eclipse.chemclipse.converter.processMethodSupplier.exsd"/>
   <extension-point id="org.eclipse.chemclipse.converter.reportImportSupplier" name="Report Import Supplier" schema="schema/org.eclipse.chemclipse.converter.reportImportSupplier.exsd"/>
   <extension-point id="org.eclipse.chemclipse.converter.sequenceImportSupplier" name="Sequence Import Supplier" schema="schema/org.eclipse.chemclipse.converter.sequenceImportSupplier.exsd"/>

</plugin>
