<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.chemclipse.pcr.converter.ui.converterPreferencePage"
            class="org.eclipse.chemclipse.pcr.report.supplier.tabular.excel.ui.preferences.PreferencePage"
            id="org.eclipse.chemclipse.pcr.report.supplier.tabular.excel.ui.preferences.converterPreferencePage"
            name="Excel PCR Export Converter">
      </page>
      <page
            category="org.eclipse.chemclipse.pcr.report.supplier.tabular.excel.ui.preferences.converterPreferencePage"
            class="org.eclipse.chemclipse.pcr.report.supplier.tabular.excel.ui.preferences.IgnoredSubsetPreferencePage"
            id="org.eclipse.chemclipse.pcr.report.supplier.tabular.excel.ui.preferences.converterPreferencePageIgnoredSubsets"
            name="Ignored PCR Subsets">
      </page>
      <page
            category="org.eclipse.chemclipse.pcr.report.supplier.tabular.excel.ui.preferences.converterPreferencePage"
            class="org.eclipse.chemclipse.pcr.report.supplier.tabular.excel.ui.preferences.ChannelMappingPreferencePage"
            id="org.eclipse.chemclipse.pcr.report.supplier.tabular.excel.ui.preferences.converterPreferencePageIgnoredSubsets"
            name="PCR Channel Mappings">
      </page>
   </extension>
   <extension
         point="org.eclipse.chemclipse.xxd.process.ui.menu.icon">
      <icon
            class="org.eclipse.chemclipse.pcr.report.supplier.tabular.excel.ui.icon.MenuIcon"
            id="org.eclipse.chemclipse.pcr.report.supplier.tabular.excel">
      </icon>
   </extension>
</plugin>
