<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.msd.converter.chromatogramSupplier">
      <ChromatogramSupplier
            description="Reads and Writes JCAMP-DX Chromatograms."
            exportConverter="org.eclipse.chemclipse.msd.converter.supplier.jcampdx.converter.ChromatogramExportConverter"
            fileExtension=".JDX"
            filterName="JCAMP-DX Chromatogram (*.JDX)"
            id="org.eclipse.chemclipse.msd.converter.supplier.jcampdx"
            importConverter="org.eclipse.chemclipse.msd.converter.supplier.jcampdx.converter.ChromatogramImportConverter"
            isExportable="true"
            isImportable="true">
      </ChromatogramSupplier>
   </extension>
   <extension
         point="org.eclipse.chemclipse.msd.converter.massSpectrumSupplier">
      <MassSpectrumSupplier
            description="Reads an writes JCAMP-DX (JDX) library."
            exportConverter="org.eclipse.chemclipse.msd.converter.supplier.jcampdx.converter.MassSpectrumExportConverter"
            fileExtension=".jdx"
            filterName="JCAMP-DX Library (*.jdx)"
            id="org.eclipse.chemclipse.msd.converter.supplier.jcampdx.library"
            importConverter="org.eclipse.chemclipse.msd.converter.supplier.jcampdx.converter.MassSpectrumImportConverter"
            isExportable="false"
            isImportable="true">
      </MassSpectrumSupplier>
   </extension>      

</plugin>
