<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.msd.converter.chromatogramSupplier">
      <ChromatogramSupplier
            description="Reads and Writes JCAMP-DX Chromatograms."
            exportConverter="org.eclipse.chemclipse.msd.converter.supplier.jcampdx.converter.ChromatogramExportConverter"
            fileExtension=".JDX"
            filterName="JCAMP-DX MSD Chromatogram (*.JDX)"
            id="org.eclipse.chemclipse.msd.converter.supplier.jcampdx"
            importConverter="org.eclipse.chemclipse.msd.converter.supplier.jcampdx.converter.ChromatogramImportConverter"
            importMagicNumberMatcher="org.eclipse.chemclipse.msd.converter.supplier.jcampdx.io.MagicNumberMatcherChromatogram"
            isExportable="true"
            isImportable="true">
      </ChromatogramSupplier>
   </extension>
   <extension
         point="org.eclipse.chemclipse.msd.converter.databaseSupplier">
      <DatabaseSupplier
            description="Reads and writes JCAMP-DX (JDX) library."
            exportConverter="org.eclipse.chemclipse.msd.converter.supplier.jcampdx.converter.DatabaseExportConverter"
            fileExtension=".jdx"
            filterName="JCAMP-DX Library (*.jdx)"
            id="org.eclipse.chemclipse.msd.converter.supplier.jcampdx.library.jdx"
            importConverter="org.eclipse.chemclipse.msd.converter.supplier.jcampdx.converter.DatabaseImportConverterJDX"
            importMagicNumberMatcher="org.eclipse.chemclipse.msd.converter.supplier.jcampdx.io.MagicNumberMatcherMassSpectrum"
            isExportable="false"
            isImportable="true">
      </DatabaseSupplier>
   </extension>    
   <extension
         point="org.eclipse.chemclipse.msd.converter.databaseSupplier">
      <DatabaseSupplier
            description="Reads JDL library."
            exportConverter="org.eclipse.chemclipse.msd.converter.supplier.jcampdx.converter.DatabaseExportConverter"
            fileExtension=".jdl"
            filterName="JDL Library (*.jdl)"
            id="org.eclipse.chemclipse.msd.converter.supplier.jcampdx.library.jdl"
            importConverter="org.eclipse.chemclipse.msd.converter.supplier.jcampdx.converter.DatabaseImportConverterJDL"
            importMagicNumberMatcher="org.eclipse.chemclipse.msd.converter.supplier.jcampdx.io.MagicNumberMatcherMassSpectrum"
            isExportable="false"
            isImportable="true">
      </DatabaseSupplier>
   </extension>         
   <extension
         point="org.eclipse.chemclipse.csd.converter.chromatogramSupplier">
      <ChromatogramSupplier
            description="Reads and Writes JCAMP-DX Chromatograms."
            exportConverter="org.eclipse.chemclipse.csd.converter.supplier.jcampdx.converter.ChromatogramExportConverter"
            fileExtension=".JDX"
            filterName="JCAMP-DX CSD Chromatogram (*.JDX)"
            id="org.eclipse.chemclipse.csd.converter.supplier.jcampdx"
            importConverter="org.eclipse.chemclipse.csd.converter.supplier.jcampdx.converter.ChromatogramImportConverter"
            importMagicNumberMatcher="org.eclipse.chemclipse.msd.converter.supplier.jcampdx.io.MagicNumberMatcherChromatogram"
            isExportable="false"
            isImportable="true">
      </ChromatogramSupplier>
   </extension>
   <extension
         point="org.eclipse.chemclipse.vsd.converter.scanSupplier">
      <ScanSupplier
            description="Reads JCAMP-DX FT-IR (*.dx) scans."
            exportConverter="org.eclipse.chemclipse.vsd.converter.supplier.jcampdx.converter.ScanExportConverter"
            fileExtension=".dx"
            filterName="JCAMP-DX FT-IR (*.dx)"
            id="org.eclipse.chemclipse.vsd.converter.supplier.jcampdx.dx"
            importContentMatcher="org.eclipse.chemclipse.vsd.converter.supplier.jcampdx.io.FileContentMatcherInfraredSpectroscopy"
            importConverter="org.eclipse.chemclipse.vsd.converter.supplier.jcampdx.converter.ScanImportConverter"
            importMagicNumberMatcher="org.eclipse.chemclipse.xxd.converter.supplier.jcampdx.io.MagicNumberMatcherAbsorptionSpectroscopy"
            isExportable="false"
            isImportable="true">
      </ScanSupplier>
   </extension>
   <extension
         point="org.eclipse.chemclipse.vsd.converter.scanSupplier">
      <ScanSupplier
            description="Reads JCAMP-DX FT-IR (*.jdx) scans."
            exportConverter="org.eclipse.chemclipse.vsd.converter.supplier.jcampdx.converter.ScanExportConverter"
            fileExtension=".jdx"
            filterName="JCAMP-DX FT-IR (*.jdx)"
            id="org.eclipse.chemclipse.vsd.converter.supplier.jcampdx.jdx"
            importContentMatcher="org.eclipse.chemclipse.vsd.converter.supplier.jcampdx.io.FileContentMatcherInfraredSpectroscopy"
            importConverter="org.eclipse.chemclipse.vsd.converter.supplier.jcampdx.converter.ScanImportConverter"
            importMagicNumberMatcher="org.eclipse.chemclipse.xxd.converter.supplier.jcampdx.io.MagicNumberMatcherAbsorptionSpectroscopy"
            isExportable="false"
            isImportable="true">
      </ScanSupplier>
   </extension>
   <extension
         point="org.eclipse.chemclipse.wsd.converter.scanSupplier">
      <ScanSupplier
            description="Reads JCAMP-DX UV-Vis (*.jdx) scans."
            exportConverter="org.eclipse.chemclipse.wsd.converter.supplier.jcampdx.converter.ScanExportConverter"
            fileExtension=".jdx"
            filterName="JCAMP-DX UV-Vis (*.jdx)"
            id="org.eclipse.chemclipse.wsd.converter.supplier.jcampdx.jdx"
            importContentMatcher="org.eclipse.chemclipse.wsd.converter.supplier.jcampdx.io.FileContentMatcherUltravioletVisible"
            importConverter="org.eclipse.chemclipse.wsd.converter.supplier.jcampdx.converter.ScanImportConverter"
            importMagicNumberMatcher="org.eclipse.chemclipse.xxd.converter.supplier.jcampdx.io.MagicNumberMatcherAbsorptionSpectroscopy"
            isExportable="false"
            isImportable="true">
      </ScanSupplier>
   </extension>
</plugin>
