<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.chromatogram.xxd.calculator.chromatogramCalculatorSupplier">
      <ChromatogramCalculatorSupplier
            description="This calculator sets retention indices (RI)."
            calculator="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.core.ChromatogramCalculator"
            calculatorName="RI Calculation (Scans and Peaks)"
            id="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri">
      </ChromatogramCalculatorSupplier>
   </extension>
   <extension
         point="org.eclipse.chemclipse.msd.converter.chromatogramSupplier">
      <ChromatogramSupplier
            description="Exports RI Calibration Files"
            exportConverter="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.core.ChromatogramExportConverter"
            fileExtension=".CAL"
            filterName="AMDIS RI Calibration (*.CAL)"
            id="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.chromatogram.cal"
            importConverter="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.core.ChromatogramImportConverter"
            isExportable="true"
            isImportable="false">
      </ChromatogramSupplier>
   </extension>   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
