<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.chromatogram.xxd.calculator.chromatogramCalculatorSupplier">
      <ChromatogramCalculatorSupplier
            calculator="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.core.ChromatogramCalculator"
            calculatorName="RI Calculation (Scans and Peaks)"
            calculatorSettings="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.settings.CalculatorSettings"
            description="This calculator sets retention indices (RI)."
            id="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri">
      </ChromatogramCalculatorSupplier>
   </extension>
   <extension
         point="org.eclipse.chemclipse.msd.converter.chromatogramSupplier">
      <ChromatogramSupplier
            description="Exports RI Calibration Files"
            exportConverter="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.core.ChromatogramExportConverter"
            fileExtension=".CAL"
            filterName="AMDIS RI Calibration (*.CAL)"
            id="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.chromatogram.cal"
            importConverter="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.core.ChromatogramImportConverter"
            importMagicNumberMatcher="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.core.MagicNumberMatcher"
            isExportable="true"
            isImportable="false">
      </ChromatogramSupplier>
   </extension>
   <extension
         point="org.eclipse.chemclipse.chromatogram.msd.identifier.peakIdentifier">
      <PeakIdentificationSupplier
            description="This identifier tries to identify alkanes."
            id="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.peak"
            identifier="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.core.PeakIdentifier"
            identifierName="Alkane Identifier"
            identifierSettings="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.settings.PeakIdentifierSettings">
      </PeakIdentificationSupplier>
   </extension>
   <extension
         point="org.eclipse.chemclipse.chromatogram.msd.identifier.massSpectrumIdentifier">
      <MassSpectrumIdentificationSupplier
            description="This identifier tries to identify alkanes."
            id="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.massSpectrum"
            identifier="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.core.MassSpectrumIdentifier"
            identifierName="Alkane Identifier">
      </MassSpectrumIdentificationSupplier>
   </extension>   
   <extension
         point="org.eclipse.chemclipse.chromatogram.msd.identifier.libraryService">
      <LibraryServiceSupplier
            description="This plugin tries to identify library mass spectra given by the target."
            id="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.libraryservice"
            identifier="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.core.LibraryService"
            identifierName="Alkane Library Service">
      </LibraryServiceSupplier>
   </extension>   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
