<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.savitzkygolay.ui.modelContribution"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc_filter.xml">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">

      <page
            category="org.eclipse.chemclipse.chromatogram.msd.filter.ui.preferences.filterPreferencePage"
            class="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.savitzkygolay.ui.preferences.PreferencePageMSD"
            id="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.savitzkygolay.ui.preferences.preferencePageMSD"
            name="Savitzky-Golay Smoothing MSD">
      </page>
      <page
            category="org.eclipse.chemclipse.chromatogram.csd.filter.ui.preferences.filterPreferencePage"
            class="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.savitzkygolay.ui.preferences.PreferencePageCSD"
            id="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.savitzkygolay.ui.preferences.preferencePageCSD"
            name="Savitzky-Golay Smoothing CSD">
      </page>
            <page
            category="org.eclipse.chemclipse.chromatogram.wsd.filter.ui.preferences.filterPreferencePage"
            class="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.savitzkygolay.ui.preferences.PreferencePageWSD"
            id="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.savitzkygolay.ui.preferences.preferencePageWSD"
            name="Savitzky-Golay Smoothing WSD">
      </page>
      
   </extension>
</plugin>
