<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.chemclipse.chromatogram.msd.filter.ui.preferences.filterPreferencePage"
            class="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.savitzkygolay.ui.preferences.PreferencePageMSD"
            id="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.savitzkygolay.ui.preferences.preferencePageMSD"
            name="Savitzky-Golay Smoothing">
      </page>
      <page
            category="org.eclipse.chemclipse.chromatogram.csd.filter.ui.preferences.filterPreferencePage"
            class="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.savitzkygolay.ui.preferences.PreferencePageCSD"
            id="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.savitzkygolay.ui.preferences.preferencePageCSD"
            name="Savitzky-Golay Smoothing">
      </page>
            <page
            category="org.eclipse.chemclipse.chromatogram.wsd.filter.ui.preferences.filterPreferencePage"
            class="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.savitzkygolay.ui.preferences.PreferencePageWSD"
            id="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.savitzkygolay.ui.preferences.preferencePageWSD"
            name="Savitzky-Golay Smoothing">
      </page>
   </extension>
   <extension
         point="org.eclipse.chemclipse.xxd.process.ui.menu.icon">
      <icon
            class="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.savitzkygolay.ui.icon.MenuIcon"
            id="org.eclipse.chemclipse.chromatogram.msd.filter.supplier.savitzkygolay">
      </icon>
      <icon
            class="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.savitzkygolay.ui.icon.MenuIcon"
            id="org.eclipse.chemclipse.chromatogram.csd.filter.supplier.savitzkygolay">
      </icon>
      <icon
            class="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.savitzkygolay.ui.icon.MenuIcon"
            id="org.eclipse.chemclipse.chromatogram.wsd.filter.supplier.savitzkygolay">
      </icon>
      <icon
            class="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.savitzkygolay.ui.icon.MenuIcon"
            id="org.eclipse.chemclipse.chromatogram.msd.filter.supplier.savitzkygolay.massspectrum">
      </icon>
   </extension>
</plugin>
