<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.msd.converter.chromatogramSupplier">
      <ChromatogramSupplier
            description="Reads mzData Chromatograms"
            exportConverter="org.eclipse.chemclipse.msd.converter.supplier.mzdata.converter.ChromatogramExportConverter"
            fileExtension=".mzData"
            filterName="Chromatogram (*.mzData)"
            id="org.eclipse.chemclipse.msd.converter.supplier.mzdata"
            importConverter="org.eclipse.chemclipse.msd.converter.supplier.mzdata.converter.ChromatogramImportConverter"
            importMagicNumberMatcher="org.eclipse.chemclipse.msd.converter.supplier.mzdata.converter.ChromatogramMagicNumberMatcher"
            isExportable="true"
            isImportable="true">
      </ChromatogramSupplier>
   </extension>
   <extension
         point="org.eclipse.chemclipse.msd.converter.massSpectrumSupplier">
      <MassSpectrumSupplier
            description="Reads mzData Spectra"
            exportConverter="org.eclipse.chemclipse.msd.converter.supplier.mzdata.converter.MassSpectrumExportConverter"
            fileExtension=".mzData"
            filterName="Mass Spectrum (*.mzData)"
            id="org.eclipse.chemclipse.msd.converter.supplier.mzdata.MassSpectrumSupplier"
            importConverter="org.eclipse.chemclipse.msd.converter.supplier.mzdata.converter.MassSpectrumImportConverter"
            importMagicNumberMatcher="org.eclipse.chemclipse.msd.converter.supplier.mzdata.converter.MassSpectrumMagicNumberMatcher"
            isExportable="false"
            isImportable="true">
      </MassSpectrumSupplier>
   </extension>
      <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.chemclipse.msd.converter.supplier.mzdata.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
