<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.chemclipse.msd.converter.ui.converterPreferencePage"
            class="org.eclipse.chemclipse.msd.converter.supplier.mzml.ui.preferences.PreferencePage"
            id="org.eclipse.chemclipse.msd.converter.supplier.mzml.ui.preferences.converterPreferencePage"
            name="mzML Converter">
      </page>
   </extension>
   <extension
         point="org.eclipse.chemclipse.xxd.process.ui.menu.icon">
      <icon
            class="org.eclipse.chemclipse.msd.converter.supplier.mzml.ui.icon.MenuIcon"
            id="org.eclipse.chemclipse.msd.converter.supplier.mzml">
      </icon>
   </extension>
      <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.chemclipse.ux.extension.xxd.ui.editors.ChromatogramEditor3x"
            extensions="mzml"
            icon="platform:/plugin/org.eclipse.chemclipse.rcp.ui.icons/icons/16x16/chromatogram.gif"
            id="org.eclipse.chemclipse.ux.extension.xxd.ui.editors.chromatogramEditor.mzml"
            name="Chromatogram">
      </editor>
   </extension>
</plugin>
