<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.msd.converter.chromatogramSupplier">
      <ChromatogramSupplier
            description="Reads mz5 Chromatograms"
            exportConverter="org.eclipse.chemclipse.converter.chromatogram.DefaultExportConverter"
            fileExtension=".mz5"
            filterName="mz5 Chromatogram (*.mz5)"
            id="org.eclipse.chemclipse.msd.converter.supplier.mz5"
            importConverter="org.eclipse.chemclipse.msd.converter.supplier.mz5.converter.ChromatogramImportConverter"
            importMagicNumberMatcher="org.eclipse.chemclipse.msd.converter.supplier.mz5.converter.MagicNumberMatcher"
            isExportable="false"
            isImportable="true">
      </ChromatogramSupplier>
   </extension>

</plugin>
