<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.chemclipse.chromatogram.xxd.integrator.ui.preferences.integratorPreferencePage"
            class="org.eclipse.chemclipse.chromatogram.xxd.integrator.supplier.trapezoid.ui.preferences.PreferencePage"
            id="org.eclipse.chemclipse.chromatogram.xxd.integrator.supplier.trapezoid.ui.preferences.peakIntegratorPreferencePage"
            name="Peak Integrator Trapezoid">
      </page>
   </extension>
</plugin>
