<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.chemclipse.chromatogram.msd.classifier.supplier.wnc.ui.modelContribution"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.chemclipse.chromatogram.msd.classifier.ui.preferences.classifierPreferencePage"
            class="org.eclipse.chemclipse.chromatogram.msd.classifier.supplier.wnc.ui.preferences.PreferencePage"
            id="org.eclipse.chemclipse.chromatogram.msd.classifier.supplier.wnc.ui.preferences.wncClassifierPreferencePage"
            name="WNC">
      </page>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc_classifier.xml">
      </toc>
   </extension>
   <extension
         point="org.eclipse.chemclipse.ux.extension.ui.measurementResultVisualization">
      <MeasurementResultVisualization
            Comparator="org.eclipse.chemclipse.chromatogram.msd.classifier.supplier.wnc.ui.internal.provider.WncResultsTableComparator"
            ContentProvider="org.eclipse.chemclipse.chromatogram.msd.classifier.supplier.wnc.ui.internal.provider.WncResultsContentProvider"
            Identifier="org.eclipse.chemclipse.chromatogram.msd.classifier.supplier.wnc"
            LabelProvider="org.eclipse.chemclipse.chromatogram.msd.classifier.supplier.wnc.ui.internal.provider.WncResultsLabelProvider"
            Titles="org.eclipse.chemclipse.chromatogram.msd.classifier.supplier.wnc.ui.internal.provider.MeasurementResultTitles">
      </MeasurementResultVisualization>
   </extension>

</plugin>
