<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.pcr.converter.plateSupplier">
      <PlateSupplier
            description="Exports PCR Plate Data to Excel"
            exportConverter="org.eclipse.chemclipse.pcr.report.supplier.tabular.excel.core.PCRExportConverter"
            fileExtension=".xlsx"
            fileName=""
            filterName="Tabular Plate Report (*.xlsx)"
            id="org.eclipse.chemclipse.pcr.report.supplier.tabular.excel"
            importConverter="org.eclipse.chemclipse.pcr.report.supplier.tabular.excel.core.PCRImportConverter"
            importMagicNumberMatcher="org.eclipse.chemclipse.pcr.report.supplier.tabular.excel.core.MagicNumberMatcher"
            isExportable="true"
            isImportable="false">
      </PlateSupplier>
   </extension>
</plugin>