<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.ui.modelContribution"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.ui.editors.EditorCalibration"
            extensions="cal"
            icon="icons/16x16/report.gif"
            id="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.ui.editors.editorCalibration"
            name="Retention Index Calibration">
      </editor>
   </extension>      
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.chemclipse.chromatogram.xxd.calculator.ui.preferences.preferencePage"
            class="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.ui.preferences.PreferencePage"
            id="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.ui.preferences.preferencePage"
            name="Retention Index">
      </page>         
      <page
            category="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.ui.preferences.preferencePage"
            class="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.ui.preferences.PreferencePageCalculator"
            id="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.ui.preferences.preferencePageCalculator"
            name="Calculator">
      </page>
      <page
            category="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.ui.preferences.preferencePage"
            class="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.ui.preferences.PreferencePageIdentifier"
            id="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.ui.preferences.preferencePageIdentifier"
            name="Alkanes">
      </page>      
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Processors"
            id="org.eclipse.chemclipse.processors">
      </category>
      <wizard
            name="Retention Index Calculator"
            icon="icons/16x16/chromatogram.gif"
            category="org.eclipse.chemclipse.processors"
            class="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.ui.wizards.WizardCreateRetentionIndexFile"
            id="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.ui.wizards.WizardCreateRetentionIndexFile">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.chemclipse.xxd.process.ui.menu.icon">
      <icon
            class="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.ui.icon.CalibrationExportMenuIcon"
            id="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.chromatogram.cal">
      </icon>
      <icon
            class="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.ui.icon.RetentionIndexMenuIcon"
            id="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri">
      </icon>
      <icon
            class="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.ui.icon.IndexResetMenuIcon"
            id="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.resetri">
      </icon>
      <icon
            class="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.ui.icon.RetentionIndexMenuIcon"
            id="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.retentionindex">
      </icon>
      <icon
            class="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.ui.icon.IndexAssignerMenuIcon"
            id="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.retentionindexassigner">
      </icon>      
   </extension>
</plugin>