<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.chemclipse.rcp.app.ui.preferences.preferencePage"
            class="org.eclipse.chemclipse.chromatogram.xxd.calculator.ui.preferences.PreferencePage"
            id="org.eclipse.chemclipse.chromatogram.xxd.calculator.ui.preferences.preferencePage"
            name="Calculators">
      </page>
      <page
            category="org.eclipse.chemclipse.chromatogram.xxd.calculator.ui.preferences.preferencePage"
            class="org.eclipse.chemclipse.chromatogram.xxd.calculator.ui.preferences.NoiseCalculatorPreferencePage"
            id="org.eclipse.chemclipse.chromatogram.xxd.calculator.ui.preferences.noiseCalculatorPreferencePage"
            name="S/N Calculator Settings">
      </page>      
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.chemclipse.chromatogram.xxd.calculator.core.noise.INoiseCalculatorSupplier"
            class="org.eclipse.chemclipse.chromatogram.xxd.calculator.ui.adapters.INoiseCalculatorSupplierAdapterFactory">
         <adapter
               type="org.eclipse.jface.viewers.ILabelProvider">
         </adapter>
      </factory>
   </extension>
</plugin>
