<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension-point id="chromatogramEditorActionSupplier" name="Chromatogram Editor Action Supplier" schema="schema/chromatogramEditorActionSupplier.exsd"/>

   <extension
         id="org.eclipse.chemclipse.ux.extension.xxd.ui.modelContribution"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.PreferenceSupplierInitializer">
      </initializer>
   </extension>   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.chemclipse.rcp.app.ui.preferences.settingsPreferencePage"
            class="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.PreferencePage"
            id="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePage"
            name="User Interface">
      </page>
      <page
            category="org.eclipse.chemclipse.rcp.app.ui.preferences.settingsPreferencePage"
            class="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.PreferencePageTasks"
            id="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePageTasks"
            name="Task Bar (Quick Access)">
      </page>      
      <page
            category="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePageTasks"
            class="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.PreferencePageTaskOverview"
            id="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePageTaskOverview"
            name="Overview">
      </page>      
      <page
            category="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePageTasks"
            class="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.PreferencePageTaskOverlay"
            id="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePageTaskOverlay"
            name="Overlay">
      </page>           
      <page
            category="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePageTasks"
            class="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.PreferencePageTaskScans"
            id="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePageTaskScans"
            name="Scans">
      </page>           
      <page
            category="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePageTasks"
            class="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.PreferencePageTaskPeaks"
            id="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePageTaskPeaks"
            name="Peaks">
      </page> 
      <page
            category="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePageTasks"
            class="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.PreferencePageTaskChromatogram"
            id="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePageTaskChromatogram"
            name="Chromatogram">
      </page> 
      <page
            category="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePageTasks"
            class="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.PreferencePageTaskISTD"
            id="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePageTaskISTD"
            name="Internal Standards (ISTD)">
      </page>      
      <page
            category="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePageTasks"
            class="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.PreferencePageTaskESTD"
            id="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePageTaskESTD"
            name="External Standards (ESTD)">
      </page>
      <page
            category="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePageTasks"
            class="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.PreferencePageTaskMiscellaneous"
            id="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePageTaskMiscellaneous"
            name="Miscellaneous">
      </page>           
      <page
            category="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePage"
            class="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.PreferencePageOverlay"
            id="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePageOverlay"
            name="Overlay">
      </page>
      <page
            category="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePage"
            class="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.PreferencePageScans"
            id="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePageScans"
            name="Scans">
      </page>
      <page
            category="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePage"
            class="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.PreferencePagePeaks"
            id="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePagePeaks"
            name="Peaks">
      </page>
      <page
            category="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePage"
            class="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.PreferencePagePeaksAxes"
            id="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePagePeaksAxes"
            name="Peaks Axes">
      </page>      
      <page
            category="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePage"
            class="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.PreferencePageTargets"
            id="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePageTargets"
            name="Targets">
      </page>
      <page
            category="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePageTargets"
            class="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.PreferencePageTargetsList"
            id="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePageTargetsList"
            name="Targets List">
      </page>      
      <page
            category="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePage"
            class="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.PreferencePageSubtract"
            id="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePageSubtract"
            name="Subtract/Combined">
      </page>
      <page
            category="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePage"
            class="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.PreferencePageFileExplorer"
            id="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePageFileExplorer"
            name="File Explorer">
      </page>
      <page
            category="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePage"
            class="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.PreferencePageChromatogram"
            id="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePageChromatogram"
            name="Chromatogram">
      </page>
      <page
            category="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePageChromatogram"
            class="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.ChromatogramAxisMilliseconds"
            id="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.chromatogramAxisMilliseconds"
            name="Milliseconds (X Axis)">
      </page>
      <page
            category="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePageChromatogram"
            class="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.ChromatogramAxisRetentionIndex"
            id="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.chromatogramAxisRetentionIndex"
            name="Retention Index (X Axis)">
      </page>      
      <page
            category="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePageChromatogram"
            class="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.ChromatogramAxisIntensity"
            id="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.chromatogramAxisIntensity"
            name="Intensity (Y Axis)">
      </page>
      <page
            category="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePageChromatogram"
            class="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.ChromatogramAxisSeconds"
            id="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.chromatogramAxisSeconds"
            name="Seconds (X Axis)">
      </page>
      <page
            category="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePageChromatogram"
            class="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.ChromatogramAxisScans"
            id="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.chromatogramAxisScans"
            name="Scans (X Axis)">
      </page>
      <page
            category="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePageChromatogram"
            class="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.ChromatogramAxisMinutes"
            id="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.chromatogramAxisMinutes"
            name="Minutes (X Axis)">
      </page>
      <page
            category="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePageChromatogram"
            class="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.ChromatogramAxisRelativeIntensity"
            id="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.chromatogramAxisRelativeIntensity"
            name="Intensity% (Y Axis)">
      </page>   
      <page
            category="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePageChromatogram"
            class="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.PreferencePageChromatogramPeaks"
            id="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePageChromatogramPeaks"
            name="Peaks">
      </page>   
      <page
            category="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePageChromatogram"
            class="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.PreferencePageChromatogramScans"
            id="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePageChromatogramScans"
            name="Scans">
      </page>
      <page
            category="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePage"
            class="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.PreferencePageQuantitation"
            id="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePageQuantitation"
            name="Quantitation">
      </page>
      <page
            category="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePage"
            class="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.PreferencePageQuantitationAxes"
            id="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePageQuantitationAxes"
            name="Quantitation Axes">
      </page>
      <page
            category="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePage"
            class="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.PreferencePageSequences"
            id="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePageSequences"
            name="Sequences">
      </page>
      <page
            category="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePage"
            class="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.PreferencePageTimeRanges"
            id="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePageTimeRanges"
            name="Time Ranges">
      </page>  
      <page
            category="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePage"
            class="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.PreferencePageNamedTraces"
            id="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePageNamedTraces"
            name="Named Traces">
      </page>
      <page
            category="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePage"
            class="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.PreferencePageMolecule"
            id="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePageMolecule"
            name="Molecule">
      </page>
      <page
            category="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePage"
            class="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.PreferencePageMergePeaks"
            id="org.eclipse.chemclipse.ux.extension.xxd.ui.preferences.preferencePageMergePeaks"
            name="Merge Peaks">
      </page>                                                                                           
   </extension> 
   <extension
         point="org.eclipse.ui.editors">  
      <editor
            class="org.eclipse.chemclipse.ux.extension.xxd.ui.editors.ChromatogramEditor3x"
            extensions="ocb"
            icon="icons/16x16/chromatogram.gif"
            id="org.eclipse.chemclipse.ux.extension.xxd.ui.editors.chromatogramEditor3x"
            name="Chromatogram">
      </editor>      
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.chemclipse.model.results.AnalysisSegmentMeasurementResult"
            class="org.eclipse.chemclipse.ux.extension.xxd.ui.adapters.AnalysisSegmentMeasurementResultAdapterFactory">
         <adapter
               type="org.eclipse.jface.viewers.IStructuredContentProvider">
         </adapter>
         <adapter
               type="org.eclipse.chemclipse.support.ui.swt.columns.ColumnDefinitionProvider">
         </adapter>
         <adapter
               type="org.eclipse.jface.viewers.ISelectionChangedListener">
         </adapter>
         <adapter
               type="org.eclipse.swtchart.ICustomPaintListener">
         </adapter>
      </factory>
   </extension>   
   <extension
         point="org.eclipse.chemclipse.ux.extension.ui.welcometile">
      <WelcomeTile
            Description="Polymerase Chain Reaction (PCR)"
            PerspectiveId="org.eclipse.chemclipse.ux.extension.xxd.ui.perspective.pcr"
            Section="PCR"
            defaultShow="true">
      </WelcomeTile>
   </extension>
   <extension
         point="org.eclipse.chemclipse.chromatogram.filter.chromatogramFilterSupplier">
      <ChromatogramFilterSupplier
            description="This filter adjusts the chromatogram editor range."
            filter="org.eclipse.chemclipse.ux.extension.xxd.ui.filter.ChromatogramFilterAdjust"
            filterName="Chromatogram Editor UI (Adjust)"
            filterSettings="org.eclipse.chemclipse.ux.extension.xxd.ui.filter.FilterSettingsAdjust"
            id="org.eclipse.chemclipse.ux.extension.xxd.ui.filter.adjustChromatogramSelection">
      </ChromatogramFilterSupplier>                
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="controls.xml">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml"
            plugin="org.eclipse.chemclipse.ux.extension.xxd.ui">
      </contexts>
   </extension>
</plugin>
