<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.msd.converter.chromatogramSupplier">
      <ChromatogramSupplier
            description="Reads and writes OpenChrom chromatograms"
            exportConverter="org.eclipse.chemclipse.msd.converter.supplier.chemclipse.converter.ChromatogramExportConverter"
            fileExtension=".ocb"
            filterName="OpenChrom Chromatogram (*.ocb)"
            id="org.eclipse.chemclipse.xxd.converter.supplier.chemclipse"
            importConverter="org.eclipse.chemclipse.msd.converter.supplier.chemclipse.converter.ChromatogramImportConverter"
            importMagicNumberMatcher="org.eclipse.chemclipse.msd.converter.supplier.chemclipse.converter.MagicNumberMatcherMSD"
            isExportable="true"
            isImportable="true">
      </ChromatogramSupplier>
   </extension>
   <extension
         point="org.eclipse.chemclipse.msd.converter.peakSupplier">
      <PeakSupplier
            description="Reads peaks OpenChrom chromatograms"
            exportConverter="org.eclipse.chemclipse.msd.converter.supplier.chemclipse.converter.PeakExportConverter"
            fileExtension=".ocb"
            filterName="OpenChrom Chromatogram (*.ocb)"
            id="org.eclipse.chemclipse.xxd.converter.supplier.chemclipse.peaks"
            importConverter="org.eclipse.chemclipse.msd.converter.supplier.chemclipse.converter.PeakImportConverter"
            isExportable="false"
            isImportable="true">
      </PeakSupplier>
   </extension>
   <extension
         point="org.eclipse.chemclipse.csd.converter.chromatogramSupplier">
      <ChromatogramSupplier
            description="Reads and writes OpenChrom chromatograms"
            exportConverter="org.eclipse.chemclipse.csd.converter.supplier.chemclipse.converter.ChromatogramExportConverter"
            fileExtension=".ocb"
            filterName="OpenChrom Chromatogram (*.ocb)"
            id="org.eclipse.chemclipse.xxd.converter.supplier.chemclipse"
            importConverter="org.eclipse.chemclipse.csd.converter.supplier.chemclipse.converter.ChromatogramImportConverter"
            importMagicNumberMatcher="org.eclipse.chemclipse.csd.converter.supplier.chemclipse.converter.MagicNumberMatcherCSD"
            isExportable="true"
            isImportable="true">
      </ChromatogramSupplier>
   </extension>   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.chemclipse.xxd.converter.supplier.chemclipse.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.chemclipse.wsd.converter.chromatogramSupplier">
      <ChromatogramSupplier
            description="Reads and writes OpenChrom chromatograms"
            exportConverter="org.eclipse.chemclipse.wsd.converter.supplier.chemclipse.converter.ChromatogramExportConverter"
            fileExtension=".ocb"
            filterName="OpenChrom Chromatogram (*.ocb)"
            id="org.eclipse.chemclipse.xxd.converter.supplier.chemclipse"
            importConverter="org.eclipse.chemclipse.wsd.converter.supplier.chemclipse.converter.ChromatogramImportConverter"
            importMagicNumberMatcher="org.eclipse.chemclipse.wsd.converter.supplier.chemclipse.converter.MagicNumberMatcherWSD"
            isExportable="true"
            isImportable="true">
      </ChromatogramSupplier>
   </extension>
   <extension
         point="org.eclipse.chemclipse.converter.processMethodSupplier">
      <ProcessMethodSupplier
            description="Reads and writes process methods."
            exportConverter="org.eclipse.chemclipse.xxd.converter.supplier.chemclipse.methods.MethodExportConverter"
            fileExtension=".ocm"
            filterName="Process Method (*.ocm)"
            id="org.eclipse.chemclipse.xxd.converter.supplier.chemclipse.processMethodSupplier"
            importConverter="org.eclipse.chemclipse.xxd.converter.supplier.chemclipse.methods.MethodImportConverter"
            importMagicNumberMatcher="org.eclipse.chemclipse.xxd.converter.supplier.chemclipse.methods.MagicNumberMatcher"
            isExportable="true"
            isImportable="true">
      </ProcessMethodSupplier>
   </extension>
</plugin>
