<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.chromatogram.msd.classifier.chromatogramClassifierSupplier">
      <ChromatogramClassifierSupplier
            classifier="org.eclipse.chemclipse.chromatogram.xxd.classifier.supplier.durbinwatson.core.Classifier"
            classifierName="Durbin-Watson Classifier"
            classifierSettings="org.eclipse.chemclipse.chromatogram.xxd.classifier.supplier.durbinwatson.settings.ClassifierSettings"
            description="This classifier tries to determine the best settings to smooth a chromatogram."
            id="org.eclipse.chemclipse.chromatogram.xxd.classifier.supplier.durbinwatson">
      </ChromatogramClassifierSupplier>
   </extension>
</plugin>