<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.chromatogram.msd.comparison.massSpectrumComparisonSupplier">
      <ComparisonSupplier
            comparatorName="Alfassi Geometric Distance"
            description="This comparator calculates the similarity between two mass spectra with the alfassi geomtric distance algorithm."
            id="org.eclipse.chemclipse.chromatogram.msd.comparison.supplier.alfassi.geometric"
            massSpectrumComparator="org.eclipse.chemclipse.chromatogram.msd.comparison.supplier.alfassi.comparator.MassSpectrumComparator"
            nominalMS="true"
            tandemMS="false"
            highResolutionMS="false">
      </ComparisonSupplier>
   </extension>

</plugin>
