<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.chemclipse.msd.converter.ui.converterPreferencePage"
            class="org.eclipse.chemclipse.msd.converter.supplier.mzxml.ui.preferences.PreferencePage"
            id="org.eclipse.chemclipse.msd.converter.supplier.mzxml.ui.preferences.converterPreferencePage"
            name="mzXML Converter">
      </page>
   </extension>
</plugin>
