<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.chemclipse.ux.extension.csd.ui.modelContribution"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.chemclipse.rcp.app.ui.preferences.overlayPreferencePage"
            class="org.eclipse.chemclipse.ux.extension.csd.ui.preferences.PreferencePage"
            id="org.eclipse.chemclipse.ux.extension.csd.ui.preferencePage"
            name="Current Selective Detector (CSD)">
      </page>
   </extension>
</plugin>