<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.chromatogram.csd.peak.detector.peakDetectorSupplier">
      <PeakDetector
            description="%FirstDerivativeDescription"
            id="org.eclipse.chemclipse.chromatogram.csd.peak.detector.supplier.firstderivative"
            peakDetector="org.eclipse.chemclipse.chromatogram.csd.peak.detector.supplier.firstderivative.core.PeakDetectorCSD"
            peakDetectorName="%FirstDerivative"
            peakDetectorSettings="org.eclipse.chemclipse.chromatogram.csd.peak.detector.supplier.firstderivative.settings.PeakDetectorSettingsCSD">
      </PeakDetector>
   </extension>
</plugin>