<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.chemclipse.chromatogram.msd.process.supplier.peakidentification.ui.modelContribution"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.chemclipse.chromatogram.xxd.batchprocess.ui"
            class="org.eclipse.chemclipse.chromatogram.msd.process.supplier.peakidentification.ui.wizards.BatchJobWizard"
            icon="platform:/plugin/org.eclipse.chemclipse.rcp.ui.icons/icons/16x16/batchprocess.gif"
            id="org.eclipse.chemclipse.chromatogram.msd.process.supplier.peakidentification.ui.PeakIdentificationBatchJobWizard"
            name="Peak Identification Batch Job">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.chemclipse.chromatogram.msd.process.supplier.peakidentification.ui.editors.BatchProcessEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="opi"
            icon="platform:/plugin/org.eclipse.chemclipse.rcp.ui.icons/icons/16x16/batchprocess.gif"
            id="org.eclipse.chemclipse.chromatogram.msd.process.supplier.peakidentification.ui.editors.PeakIdentificationBatchJobEditor"
            name="Peak Identification Batch Job Editor">
      </editor>
   </extension>
</plugin>