<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Eclipse 4.7.x (Oxygen)" sequenceNumber="437">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.python.pydev.feature.feature.group" version="0.0.0"/>
<repository location="https://dl.bintray.com/fabioz/pydev/6.3.1"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.apache.log4j" version="0.0.0"/>
<unit id="ch.qos.logback.core" version="0.0.0"/>
<unit id="org.slf4j.api" version="0.0.0"/>
<unit id="ch.qos.logback.classic" version="0.0.0"/>
<unit id="org.apache.commons.httpclient" version="0.0.0"/>
<unit id="org.apache.httpcomponents.httpcore" version="0.0.0"/>
<unit id="org.apache.httpcomponents.httpclient" version="0.0.0"/>
<unit id="org.easymock" version="0.0.0"/>
<unit id="org.apache.batik.svggen" version="0.0.0"/>
<unit id="org.apache.batik.dom" version="0.0.0"/>
<unit id="org.apache.batik.ext.awt" version="0.0.0"/>
<unit id="org.dom4j" version="0.0.0"/>
<unit id="org.apache.xerces" version="0.0.0"/>
<unit id="org.apache.poi.ooxml.schemas" version="0.0.0"/>
<unit id="org.apache.poi.ooxml" version="0.0.0"/>
<unit id="org.apache.poi" version="0.0.0"/>
<unit id="org.apache.commons.io" version="0.0.0"/>
<unit id="org.apache.commons.cli" version="0.0.0"/>
<unit id="org.apache.commons.lang" version="0.0.0"/>
<unit id="org.codehaus.jackson.core" version="0.0.0"/>
<unit id="org.codehaus.jackson.mapper" version="0.0.0"/>
<unit id="org.codehaus.jackson.jaxrs" version="0.0.0"/>
<unit id="com.sun.jersey" version="0.0.0"/>
<unit id="javax.ws.rs" version="0.0.0"/>
<unit id="com.google.gson" version="0.0.0"/>
<unit id="org.objectweb.asm" version="0.0.0"/>
<unit id="org.apache.derby" version="0.0.0"/>
<unit id="com.google.guava" version="0.0.0"/>
<unit id="javassist" version="0.0.0"/>
<unit id="ca.odell.glazedlists" version="0.0.0"/>
<unit id="org.json" version="0.0.0"/>
<unit id="com.sun.jersey" version="0.0.0"/>
<unit id="javax.ws.rs" version="0.0.0"/>
<unit id="org.swtchart" version="0.0.0"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20180206163158/repository"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.e4.rcp.feature.group" version="0.0.0"/>
<unit id="org.eclipse.sdk.ide" version="0.0.0"/>
<unit id="org.eclipse.rcp.feature.group" version="0.0.0"/>
<unit id="org.eclipse.egit.feature.group" version="0.0.0"/>
<unit id="org.eclipse.rcp.sdk.id" version="0.0.0"/>
<unit id="org.eclipse.epp.mpc.feature.group" version="0.0.0"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.jgit.feature.group" version="0.0.0"/>
<unit id="org.eclipse.platform.sdk" version="0.0.0"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.serverside.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.team.svn.feature.group" version="0.0.0"/>
<unit id="org.eclipse.birt.feature.group" version="0.0.0"/>
<unit id="org.eclipse.birt.doc.feature.group" version="0.0.0"/>
<unit id="org.eclipse.birt.chart.cshelp.feature.group" version="0.0.0"/>
<unit id="org.eclipse.birt.cshelp.feature.group" version="0.0.0"/>
<unit id="org.eclipse.jpt.jpa.eclipselink.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.discovery.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient4.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.core.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/releases/oxygen"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.nebula.widgets.nattable.core.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.nebula.widgets.nattable.extension.glazedlists.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/nattable/releases/1.5.0/repository"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.fx.ide.converter.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.fx.ide.css.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.fx.ide.pde.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.fx.ide.fxml.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.fx.ide.fxgraph.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.fx.ide.rrobot.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.fx.ide.l10n.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.fx.ide.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.fx.ide.ldef.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.fx.ide.basic.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/efxclipse/updates-released/2.4.0/site"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.ease.python.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ease.ui.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ease.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ease.modules.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/ease/update/release"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.nebula.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/nebula/releases/1.4.0"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.e4.tools.bundle.spy.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.e4.tools.context.spy.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.e4.tools.css.spy.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.e4.tools.css.spy.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.e4.tools.event.spy.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.e4.tools.event.spy.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.e4.tools.model.spy.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.e4.tools.preference.spy.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.e4.tools.spies.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/e4/snapshots/org.eclipse.e4.tools/latest"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.knime.features.ext.tableau.feature.group" version="3.5.0.v201711021651"/>
<unit id="org.knime.features.js.views.feature.group" version="3.5.2.v201802051356"/>
<unit id="org.knime.features.virtual.feature.group" version="3.5.0.v201711021652"/>
<unit id="org.knime.features.ext.webservice.client.ppilot.feature.group" version="3.5.0.v201711021652"/>
<unit id="org.knime.features.ext.parso.feature.group" version="3.5.0.v201711021705"/>
<unit id="org.knime.features.cloud.aws.feature.group" version="3.5.0.v201711291050"/>
<unit id="org.knime.features.sdk.feature.group" version="3.5.2.v201802051426"/>
<unit id="org.knime.features.ext.webservice.client.feature.group" version="3.5.0.v201711021705"/>
<unit id="org.knime.features.ext.jython.feature.group" version="3.5.0.v201711021705"/>
<unit id="org.knime.features.testingapplication.feature.group" version="3.5.2.v201802051355"/>
<unit id="org.knime.features.webanalytics.feature.group" version="3.5.0.v201711031034"/>
<unit id="org.knime.features.ext.chromium.feature.group" version="62.0.3202.v201711201949"/>
<unit id="org.knime.features.ext.itemset.feature.group" version="3.5.0.v201711021642"/>
<unit id="org.knime.features.ext.tableau.bin.feature.group" version="3.5.0.v201711021651"/>
<unit id="org.knime.features.audio.feature.group" version="3.5.0.v201711201015"/>
<unit id="org.knime.features.ext.dl4j.testing.feature.group" version="3.5.0.v201711021636"/>
<unit id="org.knime.features.core.streaming.feature.group" version="3.5.0.v201711021650"/>
<unit id="org.knime.features.ext.textprocessing.language.german.feature.group" version="3.5.0.v201711191222"/>
<unit id="org.knime.features.cloud.azure.feature.group" version="3.5.0.v201711021633"/>
<unit id="org.knime.features.python.feature.group" version="3.5.0.v201712022346"/>
<unit id="org.knime.features.ext.textprocessing.language.french.feature.group" version="3.5.0.v201711191222"/>
<unit id="org.knime.features.python2.feature.group" version="3.5.2.v201802051356"/>
<unit id="org.knime.features.ext.h2o.feature.group" version="3.5.2.v201802051356"/>
<unit id="org.knime.features.ext.spotfire.feature.group" version="3.5.0.v201711021649"/>
<unit id="org.knime.features.ext.exttool.feature.group" version="3.5.0.v201711021641"/>
<unit id="org.knime.features.optimization.feature.group" version="3.5.0.v201711021644"/>
<unit id="org.knime.features.datageneration.feature.group" version="3.5.0.v201711021635"/>
<unit id="org.knime.features.microsoft.r.feature.group" version="3.5.0.v201712051242"/>
<unit id="org.knime.features.ext.dl4j.feature.group" version="3.5.0.v201712011158"/>
<unit id="jp.co.infocom.cheminfo.marvin.feature.feature.group" version="3.5.0.v0800"/>
<unit id="org.knime.features.base.filehandling.feature.group" version="3.5.0.v201712011125"/>
<unit id="org.knime.features.ext.perl.feature.group" version="3.5.0.v201711021644"/>
<unit id="org.knime.features.ext.weka_3.7.feature.group" version="3.5.0.v201711021653"/>
<unit id="org.knime.features.ext.chem.tools.feature.group" version="3.5.0.v201711021632"/>
<unit id="org.knime.features.jpmml.feature.group" version="3.5.0.v201711021705"/>
<unit id="org.knime.features.database.connectors.sqlserver.driver.feature.group" version="6.2.2.v201711170956"/>
<unit id="org.knime.features.neighborgram.feature.group" version="3.5.0.v201711021643"/>
<unit id="org.knime.features.ext.textprocessing.feature.group" version="3.5.2.v201802051358"/>
<unit id="org.knime.features.wizard.feature.group" version="3.5.0.v201711021635"/>
<unit id="org.knime.features.distmatrix.feature.group" version="3.5.0.v201711171351"/>
<unit id="org.knime.features.base.pmml2.feature.group" version="3.5.0.v201711021644"/>
<unit id="org.knime.features.ext.osm.feature.group" version="3.5.0.v201711021644"/>
<unit id="org.knime.features.ext.svg.feature.group" version="3.5.0.v201711021650"/>
<unit id="org.knime.features.base.widedata.feature.group" version="3.5.0.v201711021653"/>
<unit id="org.knime.features.ext.textprocessing.language.spanish.feature.group" version="3.5.0.v201711191222"/>
<unit id="org.knime.features.exttool.feature.group" version="3.5.0.v201711021641"/>
<unit id="org.knime.features.semanticweb.feature.group" version="3.5.0.v201711021647"/>
<unit id="org.knime.features.base.pmml.feature.group" version="3.5.0.v201711172111"/>
<unit id="org.knime.features.ext.md.feature.group" version="3.5.0.v201711021647"/>
<unit id="org.knime.features.ext.r.bin.feature.group" version="3.4.2.v201712011139"/>
<unit id="org.knime.features.ext.textprocessing.language.chinese.feature.group" version="3.5.0.v201711191222"/>
<unit id="org.knime.features.activelearning.feature.group" version="3.5.0.v201711021628"/>
<unit id="org.knime.features.ext.lucene.feature.group" version="3.5.0.v201711021705"/>
<unit id="org.knime.features.cloud.aws.redshift.feature.group" version="3.5.0.v201711021633"/>
<unit id="org.knime.features.chem.types.feature.group" version="3.5.0.v201711021632"/>
<unit id="org.knime.features.dl.keras.feature.group" version="3.5.1.v201712211137"/>
<unit id="org.knime.features.base.pmml.translation.feature.group" version="3.5.0.v201711021705"/>
<unit id="org.knime.features.bigdata.connectors.feature.group" version="3.5.0.v201712021420"/>
<unit id="org.knime.features.rest.feature.group" version="3.5.0.v201711200921"/>
<unit id="org.knime.features.js.views.labs.feature.group" version="3.5.2.v201802051356"/>
<unit id="org.knime.features.ext.textprocessing.dl4j.feature.group" version="3.5.0.v201711291330"/>
<unit id="org.knime.features.arima.feature.group" version="3.5.0.v201711021631"/>
<unit id="org.knime.features.mongodb.feature.group" version="3.5.0.v201711021634"/>
<unit id="com.knime.features.explorer.sharedspace.feature.group" version="3.9.0.v201711021651"/>
<unit id="com.knime.features.reporting.designer.feature.group" version="3.5.0.v201711021646"/>
<unit id="org.knime.features.cloud.aws.redshift.driver.feature.group" version="3.5.0.v201711021634"/>
<unit id="org.knime.features.bigdata.spark.feature.group" version="2.2.1.v201712211530"/>
<unit id="org.knime.features.ext.h2o.mojo.feature.group" version="3.5.0.v201712131614"/>
<unit id="org.knime.features.build.feature.group" version="3.5.0.v201711021632"/>
<unit id="org.knime.features.cloud.aws.athena.feature.group" version="3.5.0.v201711021634"/>
<unit id="org.knime.features.ext.birt.feature.group" version="3.5.0.v201711021632"/>
<unit id="org.knime.features.r.feature.group" version="3.5.1.v201712211140"/>
<unit id="org.knime.features.network.distmatrix.feature.group" version="3.5.0.v201711021644"/>
<unit id="org.knime.features.ext.socialmedia.feature.group" version="3.5.0.v201712011431"/>
<unit id="org.knime.features.stats2.feature.group" version="3.5.0.v201711282226"/>
<unit id="org.knime.features.network.feature.group" version="3.5.2.v201802051356"/>
<unit id="org.knime.features.quickform.legacy.feature.group" version="3.5.0.v201711291013"/>
<unit id="com.knime.features.explorer.serverspace.feature.group" version="4.6.0.v201711041633"/>
<unit id="com.knime.features.enterprise.slave.feature.group" version="4.6.1.v201802051356"/>
<unit id="org.knime.features.ext.jfreechart.feature.group" version="3.5.0.v201711021643"/>
<repository location="http://update.knime.org/analytics-platform/3.5/"/>
</location>
</locations>
</target>
