<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="OpenChrom 1.3.x (Dalton)" sequenceNumber="437">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="net.openchrom.csd.converter.supplier.perkinelmer.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.chromatogram.msd.filter.supplier.xpass.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.thirdpartylibraries.barcode4j.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.chromatogram.xxd.baseline.detector.supplier.smoothed.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.thirdpartylibraries.orientdb.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.rcp.compilation.community.product.id" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.cdf.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.scanremover.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.chromatogram.msd.identifier.supplier.cdk.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.csd.converter.supplier.labjack.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.chromatogram.msd.identifier.supplier.file.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.chromatogram.msd.process.supplier.batchprocess.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.xxd.converter.supplier.massfinder.feature.feature.group" version="0.0.0"/>
<unit id="cn.edu.xmu.tidems.control.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.chromatogram.msd.process.supplier.groovy.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.xir.converter.supplier.nicolet.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.rcp.compilation.community.converter.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.xxd.processor.supplier.tracecompare.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ease.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.xxd.converter.supplier.ascii.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.xxd.converter.supplier.jcampdx.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.rcp.app.base.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.msd.converter.supplier.excel.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.baselinesubtract.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.thirdpartylibraries.biojava.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.thirdpartylibraries.jhdf5.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.meannormalizer.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.chromatogram.msd.comparison.supplier.pbm.feature.feature.group" version="0.0.0"/>
<unit id="org.chromulan.system.control.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.chromatogram.msd.filter.supplier.coda.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.chromatogram.msd.comparison.supplier.distance.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.thirdpartylibraries.jython.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.shimadzu.spc.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.wsd.converter.supplier.camag.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.p2.extras.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.msd.converter.supplier.matlab.parafac.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.finnigan.mat.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.chromatogram.msd.filter.supplier.backfolding.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.xxd.converter.supplier.chemclipse.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.nebula.visualization.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.rcp.app.compilation.base.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.ux.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.thirdpartylibraries.pdfjet.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.nmr.converter.supplier.jcampdx.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.agilent.icp.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.msd.converter.supplier.mzdata.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.finnigan.raw.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.chromatogram.csd.filter.supplier.zeroset.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.chromatogram.msd.integrator.supplier.sumarea.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.csd.converter.supplier.finnigan.dat.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.agilent.hp.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.thirdpartylibraries.opsin.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.chromatogram.msd.classifier.supplier.wnc.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.multiplier.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.chromatogram.xxd.report.supplier.openchrom.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.thirdpartylibraries.apache.commons.math.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.msd.converter.supplier.openchromx.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.wsd.identifier.supplier.geneident.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.finnigan.element.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.thirdpartylibraries.javassist.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.csd.converter.supplier.agilent.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.rtshifter.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.shimadzu.qgd.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.thirdpartylibraries.ejml.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.mediannormalizer.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.msd.classifier.supplier.molpeak.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.msd.converter.supplier.mz5.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.csd.converter.supplier.finnigan.raw.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.thirdpartylibraries.odfdom.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.csd.converter.supplier.arw.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.masshunter.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.leco.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.msd.converter.supplier.animl.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.msd.converter.supplier.mzxml.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.rcp.compilation.community.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.csd.converter.supplier.varian.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.shimadzu.qp5000.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.chromatogram.xxd.classifier.supplier.durbinwatson.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.csd.converter.supplier.shimadzu.gcd.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.thirdpartylibraries.imagej.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.wsd.converter.supplier.agilent.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.varian.xms.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.finnigan.its40.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.unitsumnormalizer.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.process.supplier.cms.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.thirdpartylibraries.lzf.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.thirdpartylibraries.concurrentlinkedhashmap.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.chromatogram.xxd.process.supplier.workflows.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.nebula.widgets.nattable.extension.glazedlists.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.rcp.app.core.feature.feature.group" version="0.0.0"/>
<unit id="org.python.pydev.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.e4.rcp.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecore.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.msd.converter.supplier.mzml.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ease.python.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.chromtech.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.msd.converter.supplier.amdis.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.chromatogram.xxd.edit.supplier.snip.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.fx.runtime.min.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.thirdpartylibraries.apache.commons.csv.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msqbatlibs.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.mgf.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.chromatogram.msd.process.supplier.jython.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.wsd.converter.supplier.absciex.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.chromatogram.xxd.identifier.supplier.manual.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.chromatogram.xxd.peak.detector.supplier.manual.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.csd.converter.supplier.ezchrom.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.csd.converter.supplier.cdf.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.thirdpartylibraries.jna.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.wsd.converter.supplier.abif.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.nmr.converter.supplier.bruker.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.xxd.converter.supplier.zip.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.chromatogram.msd.quantitation.supplier.chemclipse.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.finnigan.itds.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.help.feature.group" version="0.0.0"/>
<unit id="net.openchrom.csd.converter.supplier.moduvision.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.core.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.noise.stein.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.thirdpartylibraries.apache.pdfbox.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.chromatogram.msd.processor.supplier.massshiftdetector.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.thirdpartylibraries.jmol.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.amdiscalri.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.thirdpartylibraries.groovy.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.vg.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.thirdpartylibraries.swtchart.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.p2.core.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.thirdpartylibraries.netcdf.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.msd.converter.supplier.csv.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.xir.converter.supplier.csv.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.msd.identifier.supplier.nist.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.chromatogram.xxd.peak.detector.supplier.firstderivative.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.chromatogram.msd.filter.supplier.denoising.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.pdf.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.chromatogram.xxd.process.supplier.pca.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.cms.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.csd.converter.supplier.xy.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.msd.converter.supplier.svg.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.chromatogram.msd.integrator.supplier.peakmax.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.chromatogram.msd.peak.detector.supplier.amdis.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.nebula.widgets.nattable.core.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.rcp.app.compilation.core.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ease.ui.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.rcp.compilation.community.extras.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.rcp.compilation.community.core.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.chromatogram.msd.filter.supplier.ionremover.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.finnigan.icis.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.p2.user.ui.feature.group" version="0.0.0"/>
<unit id="net.openchrom.csd.converter.supplier.shimadzu.gc10.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.savitzkygolay.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.xxd.converter.supplier.dataapex.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.csd.converter.supplier.masshunter.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.chromatogram.msd.comparison.supplier.incos.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.normalizer.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.chromatogram.msd.process.supplier.peakidentification.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.shimadzu.lcd.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.chromatogram.xxd.baseline.detector.supplier.tic.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.chromatogram.xxd.integrator.supplier.trapezoid.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.xxd.converter.supplier.gson.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.chromatogram.msd.filter.supplier.subtract.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.nist.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.finnigan.cgm.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.msd.converter.supplier.massbank.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.chromatogram.msd.comparison.supplier.alfassi.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.p2.rcp.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.thirdpartylibraries.cdk.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient4.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.identifier.supplier.opentyper.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.common.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.bruker.flex.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.absciex.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.msd.identifier.supplier.triplequad.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.varian.sms.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.msd.converter.supplier.waters.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.chromatogram.xxd.calculator.supplier.noise.dyson.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.rcp.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.rcp.app.compilation.marketplace.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.thirdpartylibraries.matlabcontrol.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.chemclipse.rcp.connector.supplier.microsoft.office.feature.feature.group" version="0.0.0"/>
<unit id="net.openchrom.wsd.processor.supplier.openfluor.feature.feature.group" version="0.0.0"/>
<repository location="https://update.openchrom.net/repositories/community/latest/repository"/>
</location>
</locations>
</target>
