<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.chemclipse.chromatogram.msd.filter.ui.preferences.filterPreferencePage"
            class="org.eclipse.chemclipse.chromatogram.msd.filter.supplier.coda.ui.preferences.PreferencePage"
            id="org.eclipse.chemclipse.chromatogram.msd.filter.supplier.coda.ui.preferences.preferencePage"
            name="CODA">
      </page>
   </extension>
</plugin>
