<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.pcr.converter.plateSupplier">
      <PlateSupplier
            description="Exports PCR Plate Data"
            exportConverter="org.eclipse.chemclipse.pcr.report.supplier.txt.core.PCRExportConverter"
            fileExtension=".txt"
            fileName=""
            filterName="PCR Plate Report (*.txt)"
            id="org.eclipse.chemclipse.pcr.report.supplier.txt"
            importConverter="org.eclipse.chemclipse.pcr.report.supplier.txt.core.PCRImportConverter"
            importMagicNumberMatcher="org.eclipse.chemclipse.pcr.report.supplier.txt.core.MagicNumberMatcher"
            isExportable="true"
            isImportable="false">
      </PlateSupplier>
   </extension>
</plugin>