<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.chromatogram.msd.identifier.peakIdentifier">
      <PeakIdentificationSupplier
            description="This plugin uses the NIST library to identify peaks."
            id="org.eclipse.chemclipse.msd.identifier.supplier.nist.peak"
            identifier="org.eclipse.chemclipse.msd.identifier.supplier.nist.core.PeakIdentifier"
            identifierName="NIST (extern)"
            identifierSettings="org.eclipse.chemclipse.msd.identifier.supplier.nist.settings.PeakIdentifierSettings">
      </PeakIdentificationSupplier>
   </extension>
   <extension
         point="org.eclipse.chemclipse.chromatogram.msd.identifier.massSpectrumIdentifier">
      <MassSpectrumIdentificationSupplier
            description="This plugin uses the NIST library to identify mass spectra."
            id="org.eclipse.chemclipse.msd.identifier.supplier.nist.massSpectrum"
            identifier="org.eclipse.chemclipse.msd.identifier.supplier.nist.core.ScanIdentifier"
            identifierName="NIST (extern)"
            identifierSettings="org.eclipse.chemclipse.msd.identifier.supplier.nist.settings.ScanIdentifierSettings">
      </MassSpectrumIdentificationSupplier>
      <MassSpectrumIdentificationSupplier
            description="This plugin uses the NIST GUI to identify mass spectra."
            id="org.eclipse.chemclipse.msd.identifier.supplier.nist.massSpectrumDirect"
            identifier="org.eclipse.chemclipse.msd.identifier.supplier.nist.core.ScanDirectIdentifier"
            identifierName="NIST (extern) [Direct]"
            identifierSettings="org.eclipse.chemclipse.msd.identifier.supplier.nist.settings.ScanDirectIdentifierSettings">
      </MassSpectrumIdentificationSupplier>      
   </extension>
</plugin>