<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.chemclipse.msd.converter.ui.converterPreferencePage"
            class="org.eclipse.chemclipse.msd.converter.supplier.csv.ui.preferences.PreferencePage"
            id="org.eclipse.chemclipse.msd.converter.supplier.csv.ui.preferences.converterPreferencePage"
            name="CSV Converter">
      </page>
   </extension>
   <extension
         point="org.eclipse.chemclipse.xxd.process.ui.menu.icon">
      <icon
            class="org.eclipse.chemclipse.msd.converter.supplier.csv.ui.icon.MenuIcon"
            id="org.eclipse.chemclipse.msd.converter.supplier.csv">
      </icon>
      <icon
            class="org.eclipse.chemclipse.msd.converter.supplier.csv.ui.icon.HeatMapMenuIcon"
            id="org.eclipse.chemclipse.msd.converter.supplier.csv.heatmap">
      </icon>
   </extension>
</plugin>
