<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.chromatogram.xxd.integrator.peakIntegratorSupplier">
      <PeakIntegratorSupplier
            description="This integrator uses the signal of the mass spectrum at peak maximum."
            id="org.eclipse.chemclipse.chromatogram.msd.integrator.supplier.peakmax.peakIntegrator"
            integrator="org.eclipse.chemclipse.chromatogram.msd.integrator.supplier.peakmax.core.PeakIntegrator"
            integratorName="Peak Max Integrator"
            integratorSettings="org.eclipse.chemclipse.chromatogram.msd.integrator.supplier.peakmax.settings.PeakIntegrationSettings">
      </PeakIntegratorSupplier>
   </extension>
</plugin>