<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.msd.converter.chromatogramSupplier">
      <ChromatogramSupplier
            description="Exports JSON Chromatograms"
            exportConverter="org.eclipse.chemclipse.msd.converter.supplier.gson.core.ChromatogramExportConverter"
            fileExtension=".json"
            filterName="JSON Chromatogram (*.json)"
            id="org.eclipse.chemclipse.msd.converter.supplier.json"
            importConverter="org.eclipse.chemclipse.msd.converter.supplier.gson.core.ChromatogramImportConverter"
            importMagicNumberMatcher="org.eclipse.chemclipse.msd.converter.supplier.gson.core.MagicNumberMatcher"
            isExportable="true"
            isImportable="false">
      </ChromatogramSupplier>
   </extension>
   <extension
         point="org.eclipse.chemclipse.msd.converter.peakSupplier">
      <PeakSupplier
            description="Import/Export Peaks as jsonz"
            exportConverter="org.eclipse.chemclipse.msd.converter.supplier.gson.core.JsonPeakConverter"
            fileExtension=".jsonz"
            filterName="Compressed JSON (*.jsonz)"
            id="org.eclipse.chemclipse.xxd.converter.supplier.gson.PeakSupplier"
            importConverter="org.eclipse.chemclipse.msd.converter.supplier.gson.core.JsonPeakConverter"
            isExportable="true"
            isImportable="true">
      </PeakSupplier>
   </extension>
</plugin>
