<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.xxd.process.ui.menu.icon">
      <icon
            class="org.eclipse.chemclipse.chromatogram.xxd.report.supplier.pdf.ui.icon.MenuIcon"
            id="org.eclipse.chemclipse.chromatogram.xxd.report.supplier.pdf">
      </icon>
   </extension> 
</plugin>
