<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.chemclipse.converter.ui.converterPreferencePage"      
            class="org.eclipse.chemclipse.nmr.converter.ui.preferences.ConverterPreferencePage"
            id="org.eclipse.chemclipse.nmr.converter.ui.converterPreferencePage"
            name="Converter NMR">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.chemclipse.nmr.converter.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>   

</plugin>
