<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.eclipse.chemclipse.chromatogram.xxd.calculator.noiseCalculationSupplier" name="Noise Calculation Supplier" schema="schema/org.eclipse.chemclipse.chromatogram.xxd.calculator.noiseCalculationSupplier.exsd"/>
   <extension-point id="org.eclipse.chemclipse.chromatogram.xxd.calculator.chromatogramCalculatorSupplier" name="Chromatogram Calculator" schema="schema/org.eclipse.chemclipse.chromatogram.xxd.calculator.chromatogramCalculator.exsd"/>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.chemclipse.chromatogram.xxd.calculator.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.chemclipse.chromatogram.msd.classifier.chromatogramClassifierSupplier">
      <ChromatogramClassifierSupplier
            classifier="org.eclipse.chemclipse.chromatogram.xxd.calculator.core.noise.NoiseChromatogramClassifier"
            classifierName="Set Noise Settings"
            classifierSettings="org.eclipse.chemclipse.chromatogram.xxd.calculator.settings.NoiseChromatogramClassifierSettings"
            description="Sets the Noise calculation settings for this Chromatogram used in S/N and peak-detection algorithms"
            id="org.eclipse.chemclipse.chromatogram.xxd.calculator.noise.ChromatogramClassifierSupplier">
      </ChromatogramClassifierSupplier>
   </extension>
</plugin>
