<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Chemclipse Target (Build)" sequenceNumber="514">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.gemini.jpa.feature.feature.group" version="1.2.0.M1"/>
<repository location="http://download.eclipse.org/gemini/jpa/updates"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.e4.rcp.feature.group" version="0.0.0"/>
<unit id="org.eclipse.sdk.ide" version="0.0.0"/>
<unit id="org.eclipse.rcp.feature.group" version="0.0.0"/>
<unit id="org.eclipse.egit.feature.group" version="0.0.0"/>
<unit id="org.eclipse.rcp.sdk.id" version="0.0.0"/>
<unit id="org.eclipse.epp.mpc.feature.group" version="0.0.0"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.jgit.feature.group" version="0.0.0"/>
<unit id="org.eclipse.platform.sdk" version="0.0.0"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.serverside.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.team.svn.feature.group" version="0.0.0"/>
<unit id="org.eclipse.birt.feature.group" version="0.0.0"/>
<unit id="org.eclipse.birt.doc.feature.group" version="0.0.0"/>
<unit id="org.eclipse.birt.chart.cshelp.feature.group" version="0.0.0"/>
<unit id="org.eclipse.birt.cshelp.feature.group" version="0.0.0"/>
<unit id="org.eclipse.jpt.jpa.eclipselink.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.discovery.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient4.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.core.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/releases/neon"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.nebula.widgets.nattable.core.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.nebula.widgets.nattable.extension.glazedlists.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/nattable/releases/1.5.0/repository"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.persistence.sdk.feature.group" version="2.7.1.v20171221-bd47e8f"/>
<repository location="http://download.eclipse.org/rt/eclipselink/updates/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.fx.ide.converter.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.fx.ide.css.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.fx.ide.pde.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.fx.ide.fxml.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.fx.ide.fxgraph.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.fx.ide.rrobot.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.fx.ide.l10n.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.fx.ide.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.fx.ide.ldef.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.fx.ide.basic.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/efxclipse/updates-released/2.4.0/site"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.nebula.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/nebula/releases/1.4.0"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swtchart.feature.feature.group" version="0.0.0"/>
<repository location="https://update.openchrom.net/repositories/swtchart/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="javax.ws.rs" version="2.0.1.v201504171603"/>
<unit id="org.apache.derby" version="10.11.1.1_v201605202053"/>
<unit id="org.hamcrest.core" version="1.3.0.v20180420-1519"/>
<unit id="org.apache.commons.csv" version="1.4.0.v20190617-1333"/>
<unit id="org.apache.pdfbox.fontbox" version="2.0.6.v20190617-1333"/>
<unit id="org.apache.httpcomponents.httpmime" version="4.5.7.v20190708-0500"/>
<unit id="org.slf4j.api" version="1.7.2.v20121108-1250"/>
<unit id="org.apache.commons.logging" version="1.2.0.v20180409-1502"/>
<unit id="org.apache.commons.httpclient" version="3.1.0.v201012070820"/>
<unit id="org.apache.pdfbox" version="2.0.6.v20190617-1333"/>
<unit id="org.ejml.core" version="0.29.0.v20190617-1333"/>
<unit id="org.apache.httpcomponents.httpcore-nio" version="4.4.5.v20190709-1738"/>
<unit id="org.apache.log4j" version="1.2.15.v201012070815"/>
<unit id="org.apache.xalan" version="2.7.1.v201005080400"/>
<unit id="org.apache.commons.math3" version="3.5.0.v20190611-1023"/>
<unit id="ch.qos.logback.core" version="1.1.2.v20160208-0839"/>
<unit id="org.apache.commons.math" version="2.1.0.v201105210652"/>
<unit id="org.apache.commons.lang3" version="3.1.0.v201403281430"/>
<unit id="ch.qos.logback.classic" version="1.1.2.v20171220-1825"/>
<unit id="org.apache.commons.io" version="2.6.0.v20190123-2029"/>
<unit id="javassist" version="3.13.0.GA_v201209210905"/>
<unit id="org.apache.xmlgraphics" version="2.3.0.v20190515-0436"/>
<unit id="org.apache.httpcomponents.httpclient" version="4.3.6.v201511171540"/>
<unit id="org.apache.batik.dom" version="1.9.1.v20190730-1743"/>
<unit id="org.ejml.denseC64" version="0.29.0.v20190617-1333"/>
<unit id="org.apache.commons.cli" version="1.2.0.v201404270220"/>
<unit id="org.apache.poi" version="3.9.0.v201405241750"/>
<unit id="com.sun.jersey" version="1.17.0.v201503170330"/>
<unit id="org.ejml.equation" version="0.29.0.v20190617-1333"/>
<unit id="org.ejml.experimental" version="0.29.0.v20190617-1333"/>
<unit id="com.fasterxml.jackson.core.jackson-core" version="2.9.2.v20180207-1730"/>
<unit id="com.fasterxml.jackson.core.jackson-databind" version="2.9.2.v20180207-1730"/>
<unit id="org.apache.xerces" version="2.9.0.v201101211617"/>
<unit id="org.apache.batik.svggen" version="1.9.1.v20190730-1743"/>
<unit id="org.json" version="1.0.0.v201011060100"/>
<unit id="org.apache.poi.ooxml.schemas" version="3.9.0.v201405241750"/>
<unit id="org.bouncycastle.bcpg" version="1.61.0.v20190602-1335"/>
<unit id="org.codehaus.jackson.jaxrs" version="1.6.0.v20101005-1100"/>
<unit id="ca.odell.glazedlists" version="1.9.0.v201303080712"/>
<unit id="org.apache.poi.ooxml" version="3.9.0.v201405241905"/>
<unit id="org.apache.commons.lang" version="2.6.0.v201404270220"/>
<unit id="org.apache.httpcomponents.httpcore.nio" version="4.1.0.v201101201700"/>
<unit id="org.apache.httpcomponents.httpclient" version="4.5.6.v20190503-0009"/>
<unit id="org.hamcrest.library" version="1.3.0.v20180524-2246"/>
<unit id="org.apache.httpcomponents.httpcore" version="4.3.3.v201411290715"/>
<unit id="org.apache.pdfbox.xmpbox" version="2.0.6.v20190617-1333"/>
<unit id="org.ejml.simple" version="0.29.0.v20190617-1333"/>
<unit id="org.easymock" version="2.4.0.v20090202-0900"/>
<unit id="org.ejml.dense64" version="0.29.0.v20190617-1333"/>
<unit id="org.bouncycastle.bcprov" version="1.61.0.v20190602-1335"/>
<unit id="org.apache.commons.net" version="3.2.0.v201305141515"/>
<unit id="org.dom4j" version="2.1.1.v20190321-1528"/>
<unit id="org.apache.batik.pdf" version="1.9.1.v20190730-1743"/>
<unit id="com.google.gson" version="2.8.2.v20180104-1110"/>
<unit id="org.apache.httpcomponents.httpasyncclient" version="4.1.3.v20190709-1738"/>
<unit id="org.apache.pdfbox.preflight" version="2.0.6.v20190617-1333"/>
<unit id="com.fasterxml.jackson.core.jackson-annotations" version="2.9.2.v20180207-1730"/>
<unit id="org.codehaus.jackson.mapper" version="1.6.0.v20101005-0925"/>
<unit id="org.apache.batik.css" version="1.11.0.v20190515-0436"/>
<unit id="org.apache.httpcomponents.httpcore" version="4.4.10.v20190123-2214"/>
<unit id="org.bouncycastle.bcpkix" version="1.61.0.v20190602-1335"/>
<unit id="org.codehaus.jackson.core" version="1.6.0.v20101005-0925"/>
<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/S20190819183153/repository"/>
</location>
</locations>
</target>
