<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.msd.converter.chromatogramSupplier">
      <ChromatogramSupplier
            description="Reads and writes ZIP Chromatograms."
            exportConverter="org.eclipse.chemclipse.xxd.converter.supplier.zip.converter.ChromatogramExportConverter"
            fileExtension=".zip"
            filterName="ZIP Chromatogram (*.zip)"
            id="org.eclipse.chemclipse.xxd.converter.supplier.zip"
            importMagicNumberMatcher="org.eclipse.chemclipse.xxd.converter.supplier.zip.converter.MagicNumberMatcher"
            isExportable="true"
            isImportable="false">
      </ChromatogramSupplier>
   </extension>
</plugin>