<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.chemclipse.msd.converter.ui.converterPreferencePage"
            class="org.eclipse.chemclipse.msd.converter.supplier.excel.ui.preferences.PreferencePage"
            id="org.eclipse.chemclipse.msd.converter.supplier.excel.ui.preferences.converterPreferencePage"
            name="Microsoft Excel MS Converter">
      </page>
   </extension>
   <extension
         point="org.eclipse.chemclipse.xxd.process.ui.menu.icon">
      <icon
            class="org.eclipse.chemclipse.msd.converter.supplier.excel.ui.icon.MenuIcon"
            id="org.eclipse.chemclipse.msd.converter.supplier.excel">
      </icon>
   </extension>

</plugin>
