<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.chemclipse.chromatogram.xxd.report.supplier.openchrom.ui.modelContribution"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.chemclipse.chromatogram.xxd.report.ui.preferences.reportPreferencePage"
            class="org.eclipse.chemclipse.chromatogram.xxd.report.supplier.openchrom.ui.preferences.PreferencePage"
            id="org.eclipse.chemclipse.chromatogram.xxd.report.supplier.openchrom.ui.preferences.preferencePage"
            name="OpenChrom Report">
      </page>
   </extension> 
</plugin>
