<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         id="org.eclipse.chemclipse.cli.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi"
            apply="always">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.chemclipse.rcp.app.ui.commandLineProcessor">
      <CommandLineProcessor
            description="Add a chromatogram (MSD) to the processing context."
            hasArguments="true"
            id="org.eclipse.chemclipse.cli.reader.msd.CommandLineProcessor"
            option="importMSD"
            processor="org.eclipse.chemclipse.ui.cli.converter.ImportProcessorMSD">
      </CommandLineProcessor>
   </extension>
   <extension
         point="org.eclipse.chemclipse.rcp.app.ui.commandLineProcessor">
      <CommandLineProcessor
            description="Add a chromatogram (CSD) to the processing context."
            hasArguments="true"
            id="org.eclipse.chemclipse.cli.reader.csd.CommandLineProcessor"
            option="importCSD"
            processor="org.eclipse.chemclipse.ui.cli.converter.ImportProcessorCSD">
      </CommandLineProcessor>
   </extension>
   <extension
         point="org.eclipse.chemclipse.rcp.app.ui.commandLineProcessor">
      <CommandLineProcessor
            description="Add a chromatogram (WSD) to the processing context."
            hasArguments="true"
            id="org.eclipse.chemclipse.cli.reader.wsd.CommandLineProcesso."
            option="importWSD"
            processor="org.eclipse.chemclipse.ui.cli.converter.ImportProcessorWSD">
      </CommandLineProcessor>
   </extension>
   <extension
         point="org.eclipse.chemclipse.rcp.app.ui.commandLineProcessor">
      <CommandLineProcessor
            description="Applies the given method to all current chromatograms."
            hasArguments="true"
            id="org.eclipse.chemclipse.cli.method.CommandLineProcessor"
            option="method"
            processor="org.eclipse.chemclipse.ui.cli.methods.MethodProcessor">
      </CommandLineProcessor>
   </extension>
</plugin>
