<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.chemclipse.chromatogram.msd.quantitation.supplier.chemclipse.ui.modelContribution"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>  
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.chemclipse.chromatogram.msd.quantitation.ui.preferences.quantifierPreferencePage"
            class="org.eclipse.chemclipse.chromatogram.msd.quantitation.supplier.chemclipse.ui.preferences.PreferencePage"
            id="org.eclipse.chemclipse.chromatogram.msd.quantitation.supplier.chemclipse.ui.preferences.peakQuantifierPreferencePage"
            name="Standard Peak Quantifier (ESTD)">
      </page>
   </extension>
   <extension
         point="org.eclipse.chemclipse.chromatogram.msd.quantifier.peakQuantifierSupplier">
      <PeakQuantifierSupplier
            description="Add peaks to the DB (ESTD)"
            id="org.eclipse.chemclipse.chromatogram.msd.quantitation.supplier.chemclipse.ui.add.peaks.estd"
            peakQuantifier="org.eclipse.chemclipse.chromatogram.msd.quantitation.supplier.chemclipse.ui.core.AddPeaksESTD"
            peakQuantifierName="Add Peaks to DB (ESTD)"
            peakQuantifierSettings="org.eclipse.chemclipse.chromatogram.msd.quantitation.supplier.chemclipse.settings.PeakDatabaseSettings">
      </PeakQuantifierSupplier>           
   </extension>
</plugin>
