<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.chemclipse.msd.identifier.supplier.nist.ui.modelContribution"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.chemclipse.msd.identifier.supplier.nist.ui.dbpreferencespage"
            class="org.eclipse.chemclipse.msd.identifier.supplier.nist.ui.preferences.PreferencePage"
            id="org.eclipse.chemclipse.msd.identifier.supplier.nist.ui.preferences.nistIdentifierPreferencePage"
            name="NIST Commandline Connector">
      </page>
      <page
            category="org.eclipse.chemclipse.rcp.app.ui.preferences.preferencePage"
            class="org.eclipse.chemclipse.msd.identifier.supplier.nist.ui.preferences.NistApplicationPreferencePage"
            id="org.eclipse.chemclipse.msd.identifier.supplier.nist.ui.dbpreferencespage"
            name="NIST Database Integration">
      </page>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="pluginToc.xml">
      </toc>
   </extension>

</plugin>
