<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.chemclipse.chromatogram.msd.identifier.ui.preferences.identifierPreferencePage"
            class="org.eclipse.chemclipse.msd.identifier.supplier.nist.ui.preferences.PreferencePageInstallation"
            id="org.eclipse.chemclipse.msd.identifier.supplier.nist.ui.preferences.preferencePageInstallation"
            name="NIST (extern) - Installation">
      </page>         
      <page
            category="org.eclipse.chemclipse.msd.identifier.supplier.nist.ui.preferences.preferencePageInstallation"
            class="org.eclipse.chemclipse.msd.identifier.supplier.nist.ui.preferences.PreferencePageSettings"
            id="org.eclipse.chemclipse.msd.identifier.supplier.nist.ui.preferences.preferencePageSettings"
            name="NIST (extern) - Settings">
      </page>
   </extension>
</plugin>
