<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.chromatogram.filter.chromatogramFilterSupplier">
      <ChromatogramFilterSupplier
            description="This filter applies a unit sum normalization on the chromatogram."
            filter="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.unitsumnormalizer.core.ChromatogramFilter"
            filterName="Unit Sum Normalizer"
            filterSettings="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.unitsumnormalizer.settings.FilterSettings"
            id="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.unitsumnormalizer">
      </ChromatogramFilterSupplier>
   </extension>
</plugin>