<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.chromatogram.msd.filter.chromatogramFilterSupplier">
      <ChromatogramFilterSupplier
            description="This filter applies the Savitzky-Golay filter."
            filter="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.savitzkygolay.core.ChromatogramFilterMSD"
            filterName="Savitzky-Golay Smoothing"
            filterSettings="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.savitzkygolay.settings.ChromatogramFilterSettingsMSD"
            id="org.eclipse.chemclipse.chromatogram.msd.filter.supplier.savitzkygolay">
      </ChromatogramFilterSupplier>
   </extension>
      <extension
         point="org.eclipse.chemclipse.chromatogram.csd.filter.chromatogramFilterSupplier">
      <ChromatogramFilterSupplier
            description="This filter applies the Savitzky-Golay filter."
            filter="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.savitzkygolay.core.ChromatogramFilterCSD"
            filterName="Savitzky-Golay Smoothing"
            filterSettings="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.savitzkygolay.settings.ChromatogramFilterSettings"
            id="org.eclipse.chemclipse.chromatogram.csd.filter.supplier.savitzkygolay">
      </ChromatogramFilterSupplier>
   </extension>
         <extension
         point="org.eclipse.chemclipse.chromatogram.wsd.filter.chromatogramFilterSupplier">
      <ChromatogramFilterSupplier
            description="This filter applies the Savitzky-Golay filter."
            filter="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.savitzkygolay.core.ChromatogramFilterWSD"
            filterName="Savitzky-Golay Smoothing"
            filterSettings="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.savitzkygolay.settings.ChromatogramFilterSettings"
            id="org.eclipse.chemclipse.chromatogram.wsd.filter.supplier.savitzkygolay">
      </ChromatogramFilterSupplier>
   </extension>
   <extension
         point="org.eclipse.chemclipse.chromatogram.msd.filter.massSpectrumFilterSupplier">
      <MassSpectrumFilterSupplier
            config="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.savitzkygolay.settings.MassSpectrumFilterSettings"
            description="This is a Savitzky-Golay Mass Spectrum optimization filter."
            filter="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.savitzkygolay.core.MassSpectrumFilter"
            filterName="Savitzky-Golay Filter"
            id="org.eclipse.chemclipse.chromatogram.msd.filter.supplier.savitzkygolay.massspectrum">
      </MassSpectrumFilterSupplier>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.savitzkygolay.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
