<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.chemclipse.chromatogram.xxd.report.ui.preferences.reportPreferencePage"
            class="org.eclipse.chemclipse.chromatogram.xxd.report.supplier.txt.ui.preferences.PreferencePage"
            id="org.eclipse.chemclipse.chromatogram.xxd.report.supplier.txt.ui.preferences.preferencePage"
            name="ChemClipse Report">
      </page>
   </extension>
   <extension
         point="org.eclipse.chemclipse.xxd.process.ui.menu.icon">
      <icon
            class="org.eclipse.chemclipse.chromatogram.xxd.report.supplier.txt.ui.icon.PeakIdentificationMenuIcon"
            id="org.eclipse.chemclipse.chromatogram.xxd.report.supplier.txt.peaksidentifications">
      </icon>
      <icon
            class="org.eclipse.chemclipse.chromatogram.xxd.report.supplier.txt.ui.icon.AreaPercentMenuIcon"
            id="org.eclipse.chemclipse.chromatogram.xxd.report.supplier.txt.areapercent">
      </icon>
      <icon
            class="org.eclipse.chemclipse.chromatogram.xxd.report.supplier.txt.ui.icon.QuantitationMenuIcon"
            id="org.eclipse.chemclipse.chromatogram.xxd.report.supplier.txt.quantitation">
      </icon>
      <icon
            class="org.eclipse.chemclipse.chromatogram.xxd.report.supplier.txt.ui.icon.PeakTableMenuIcon"
            id="org.eclipse.chemclipse.chromatogram.xxd.report.supplier.txt.peaktable">
      </icon>
   </extension> 
</plugin>
