<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.chemclipse.rcp.app.ui.preferences.settingsPreferencePage"
            class="org.eclipse.chemclipse.msd.swt.ui.preferences.PreferencePage"
            id="org.eclipse.chemclipse.msd.swt.ui.preferences.preferencePage"
            name="Mass Spectrum View">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.chemclipse.msd.swt.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
