<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.chromatogram.msd.identifier.peakIdentifier">
      <PeakIdentificationSupplier
            description="This plugin uses a file library to identify peaks."
            id="org.eclipse.chemclipse.chromatogram.msd.identifier.supplier.file.peak"
            identifier="org.eclipse.chemclipse.chromatogram.xxd.identifier.supplier.file.core.PeakIdentifierFile"
            identifierName="Library File (MS)"
            identifierSettings="org.eclipse.chemclipse.chromatogram.xxd.identifier.supplier.file.settings.PeakIdentifierSettings">
      </PeakIdentificationSupplier>
      <PeakIdentificationSupplier
            description="This plugin sets a peak identification using the highest intensity m/z values."
            id="org.eclipse.chemclipse.chromatogram.msd.identifier.supplier.unknown.peak"
            identifier="org.eclipse.chemclipse.chromatogram.xxd.identifier.supplier.file.core.PeakIdentifierUnknown"
            identifierName="Unknown Marker"
            identifierSettings="org.eclipse.chemclipse.chromatogram.xxd.identifier.supplier.file.settings.PeakUnknownSettingsMSD">
      </PeakIdentificationSupplier>      
   </extension>
   <extension
         point="org.eclipse.chemclipse.chromatogram.csd.identifier.peakIdentifier">
      <PeakIdentificationSupplier
            description="This plugin sets a peak identification using the TIC value."
            id="org.eclipse.chemclipse.chromatogram.csd.identifier.supplier.unknown.peak"
            identifier="org.eclipse.chemclipse.chromatogram.xxd.identifier.supplier.file.core.PeakIdentifierUnknown"
            identifierName="Unknown Marker"
            identifierSettings="org.eclipse.chemclipse.chromatogram.xxd.identifier.supplier.file.settings.PeakUnknownSettingsCSD">
      </PeakIdentificationSupplier>      
   </extension>
   <extension
         point="org.eclipse.chemclipse.chromatogram.wsd.identifier.peakIdentifier">
      <PeakIdentificationSupplier
            description="This plugin sets a peak identification using the highest intensity wavelength value."
            id="org.eclipse.chemclipse.chromatogram.wsd.identifier.supplier.unknown.peak"
            identifier="org.eclipse.chemclipse.chromatogram.xxd.identifier.supplier.file.core.PeakIdentifierUnknown"
            identifierName="Unknown Marker"
            identifierSettings="org.eclipse.chemclipse.chromatogram.xxd.identifier.supplier.file.settings.PeakUnknownSettingsWSD">
      </PeakIdentificationSupplier>      
   </extension>   
   <extension
         point="org.eclipse.chemclipse.chromatogram.msd.identifier.massSpectrumIdentifier">
      <MassSpectrumIdentificationSupplier
            description="This plugin uses a file library to identify mass spectra."
            id="org.eclipse.chemclipse.chromatogram.msd.identifier.supplier.file.massSpectrum"
            identifier="org.eclipse.chemclipse.chromatogram.xxd.identifier.supplier.file.core.MassSpectrumIdentifierFile"
            identifierName="Library File (MS)"
            identifierSettings="org.eclipse.chemclipse.chromatogram.xxd.identifier.supplier.file.settings.MassSpectrumIdentifierSettings">
      </MassSpectrumIdentificationSupplier>
      <MassSpectrumIdentificationSupplier
            description="This plugin sets a mass spectrum identification using the highest intensity m/z values."
            id="org.eclipse.chemclipse.chromatogram.msd.identifier.supplier.unknown.massSpectrum"
            identifier="org.eclipse.chemclipse.chromatogram.xxd.identifier.supplier.file.core.MassSpectrumIdentifierUnknown"
            identifierName="Unknown Marker"
            identifierSettings="org.eclipse.chemclipse.chromatogram.xxd.identifier.supplier.file.settings.MassSpectrumUnknownSettings">
      </MassSpectrumIdentificationSupplier>        
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.chemclipse.chromatogram.msd.identifier.supplier.file.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.chemclipse.chromatogram.msd.identifier.libraryService">
      <LibraryServiceSupplier
            description="This plugin tries to identify library mass spectra given by the target."
            id="org.eclipse.chemclipse.chromatogram.msd.identifier.supplier.file.libraryservice"
            identifier="org.eclipse.chemclipse.chromatogram.xxd.identifier.supplier.file.core.LibraryService"
            identifierName="File MS Library Service">
      </LibraryServiceSupplier>
   </extension>
</plugin>
