<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.chromatogram.xxd.baseline.detector.baselineDetectorSupplier">
      <BaselineDetectorSupplier
            baselineDetector="org.eclipse.chemclipse.chromatogram.xxd.baseline.detector.supplier.tic.core.BaselineDetector"
            description="This baseline detector calculator sets the baseline by the lowest TIC value."
            detectorName="Threshold (TIC) Baseline Detector"
            detectorSettings="org.eclipse.chemclipse.chromatogram.xxd.baseline.detector.supplier.tic.settings.DetectorSettings"
            id="org.eclipse.chemclipse.chromatogram.xxd.baseline.detector.supplier.tic">
      </BaselineDetectorSupplier>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.chemclipse.chromatogram.xxd.baseline.detector.supplier.tic.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
