<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.chromatogram.filter.chromatogramFilterSupplier">
      <ChromatogramFilterSupplier
            description="This filter shifts retention times."
            filter="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.rtshifter.core.ChromatogramFilterShift"
            filterName="Retention Time Shifter"
			filterSettings="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.rtshifter.settings.FilterSettingsShift"                     
            id="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.rtshifter">
      </ChromatogramFilterSupplier>
      <ChromatogramFilterSupplier
            description="This filter stretches retention times."
            filter="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.rtshifter.core.ChromatogramFilterStretch"
            filterName="Retention Time Stretcher"
			filterSettings="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.rtshifter.settings.FilterSettingsStretch"            
            id="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.rtstretcher">
      </ChromatogramFilterSupplier>
      <ChromatogramFilterSupplier
            description="This filter add scans to fill too large gaps."
            filter="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.rtshifter.core.ChromatogramFilterGapFiller"
            filterName="Gap Filler"
			filterSettings="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.rtshifter.settings.FilterSettingsGapFiller"            
            id="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.gapfiller">
      </ChromatogramFilterSupplier>
      <ChromatogramFilterSupplier
            description="This filter padds scans from retention time 0 until the first scan."
            filter="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.rtshifter.core.ChromatogramFilterScanFiller"
            filterName="Scan Filler (Padding Empty)"
			filterSettings="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.rtshifter.settings.FilterSettingsScanFiller"            
            id="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.scanfiller">
      </ChromatogramFilterSupplier>      
   </extension>
</plugin>