<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.chromatogram.filter.chromatogramFilterSupplier">
      <ChromatogramFilterSupplier
            description="This filter shifts retention times."
            filter="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.rtshifter.core.ChromatogramFilterShift"
            filterName="Retention Time Shifter"
			filterSettings="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.rtshifter.settings.FilterSettingsShift"                     
            id="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.rtshifter">
      </ChromatogramFilterSupplier>
   </extension>
   <extension
         point="org.eclipse.chemclipse.chromatogram.filter.chromatogramFilterSupplier">
      <ChromatogramFilterSupplier
            description="This filter stretches retention times."
            filter="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.rtshifter.core.ChromatogramFilterStretch"
            filterName="Retention Time Stretcher"
			filterSettings="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.rtshifter.settings.FilterSettingsStretch"            
            id="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.rtstretcher">
      </ChromatogramFilterSupplier>
   </extension>   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.rtshifter.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
