<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.rcp.app.ui.commandLineProcessor">
      <CommandLineProcessor
            description="Automate the processing of batch files."
            hasArguments="true"
            id="org.eclipse.chemclipse.chromatogram.msd.process.supplier.batchprocess.commandLineProcessor"
            option="batchfile"
            processor="org.eclipse.chemclipse.chromatogram.msd.process.supplier.batchprocess.cli.Processor">
      </CommandLineProcessor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.chemclipse.chromatogram.msd.process.supplier.batchprocess.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
