<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.chemclipse.chromatogram.xxd.report.chromatogramReportSupplier" name="Chromatogram Report Supplier" schema="schema/org.eclipse.chemclipse.chromatogram.xxd.report.chromatogramReportSupplier.exsd"/>
</plugin>
