<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.container">
      <container
            id="org.eclipse.chemclipse.container.supplier.zip"
            getContents="org.eclipse.chemclipse.xxd.converter.supplier.zip.io.ZipContainer"
            magicNumberMatcher="org.eclipse.chemclipse.xxd.converter.supplier.zip.io.MagicNumberMatcher">
      </container>
   </extension>
</plugin>
