<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.chromatogram.xxd.baseline.detector.baselineDetectorSupplier">
      <BaselineDetectorSupplier
            baselineDetector="org.eclipse.chemclipse.chromatogram.xxd.baseline.detector.supplier.smoothed.core.BaselineDetector"
            description="This is a simple total ion current (TIC) smoothed baseline detector."
            detectorName="Smoothed TIC Baseline Detector"
            detectorSettings="org.eclipse.chemclipse.chromatogram.xxd.baseline.detector.supplier.smoothed.settings.DetectorSettings"
            id="org.eclipse.chemclipse.chromatogram.xxd.baseline.detector.supplier.smoothed">
      </BaselineDetectorSupplier>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.chemclipse.chromatogram.xxd.baseline.detector.supplier.smoothed.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
