<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.chromatogram.msd.comparison.massSpectrumComparisonSupplier">
      <ComparisonSupplier
            comparatorName="Euclidean Distance"
            description="This comparator calculates the similarity between two mass spectra with the Euclidean distance algorithm."
            id="org.eclipse.chemclipse.chromatogram.msd.comparison.supplier.distance.euclidean"
            massSpectrumComparator="org.eclipse.chemclipse.chromatogram.msd.comparison.supplier.distance.comparator.EuclideanComparator"
            nominalMS="true"
            tandemMS="false"
            highResolutionMS="false">
      </ComparisonSupplier>   
   </extension>
   <extension
         point="org.eclipse.chemclipse.chromatogram.msd.comparison.massSpectrumComparisonSupplier">
      <ComparisonSupplier
            comparatorName="Cosine"
            description="The comparator uses the cosine match."
            id="org.eclipse.chemclipse.chromatogram.msd.comparison.supplier.distance.cosine"
            massSpectrumComparator="org.eclipse.chemclipse.chromatogram.msd.comparison.supplier.distance.comparator.CosineComparator"
            nominalMS="true"
            tandemMS="false"
            highResolutionMS="false">
      </ComparisonSupplier>   
      <ComparisonSupplier
            comparatorName="Cosine Binary (0|1)"
            description="The comparator uses the cosine match, based on the intensity pattern 'not available' - 'available' (0 or 1)."
            id="org.eclipse.chemclipse.chromatogram.msd.comparison.supplier.distance.cosinebinary"
            massSpectrumComparator="org.eclipse.chemclipse.chromatogram.msd.comparison.supplier.distance.comparator.CosineBinaryComparator"
            nominalMS="true"
            tandemMS="false"
            highResolutionMS="false">
      </ComparisonSupplier>
      <ComparisonSupplier
            comparatorName="Cosine Mutliply (m/z * Intensity)"
            description="The comparator uses the cosine match, based on the multiplication of the ion and intensity: m/z * Intensity"
            id="org.eclipse.chemclipse.chromatogram.msd.comparison.supplier.distance.cosinemultiply"
            massSpectrumComparator="org.eclipse.chemclipse.chromatogram.msd.comparison.supplier.distance.comparator.CosineMultiplyComparator"
            nominalMS="true"
            tandemMS="false"
            highResolutionMS="false">
      </ComparisonSupplier>
      <ComparisonSupplier
            comparatorName="Pearson Distance"
            description="This comparator calculates the similarity between two mass spectra with the Pearson distance algorithm."
            id="org.eclipse.chemclipse.chromatogram.msd.comparison.supplier.distance.pearson"
            massSpectrumComparator="org.eclipse.chemclipse.chromatogram.msd.comparison.supplier.distance.comparator.PearsonComparator"
            nominalMS="true"
            tandemMS="false"
            highResolutionMS="false">
      </ComparisonSupplier>
      <ComparisonSupplier
            comparatorName="Covariance"
            description="This comparator calculates the similarity between two mass spectra with the covariance-based distance."
            id="org.eclipse.chemclipse.chromatogram.msd.comparison.supplier.distance.covariance"
            massSpectrumComparator="org.eclipse.chemclipse.chromatogram.msd.comparison.supplier.distance.comparator.CovarianceComparator"
            nominalMS="true"
            tandemMS="false"
            highResolutionMS="false">
      </ComparisonSupplier>
      <ComparisonSupplier
            comparatorName="Pareto (0.75)"
            description="This comparator calculates the similarity between two mass spectra with the covariance-based distance."
            id="org.eclipse.chemclipse.chromatogram.msd.comparison.supplier.distance.pareto.0.75"
            massSpectrumComparator="org.eclipse.chemclipse.chromatogram.msd.comparison.supplier.distance.comparator.Pareto075Comparator"
            nominalMS="true"
            tandemMS="false"
            highResolutionMS="false">
      </ComparisonSupplier>
      <ComparisonSupplier
            comparatorName="Pareto (0.50)"
            description="This comparator calculates the similarity between two mass spectra with the covariance-based distance."
            id="org.eclipse.chemclipse.chromatogram.msd.comparison.supplier.distance.pareto.0.50"
            massSpectrumComparator="org.eclipse.chemclipse.chromatogram.msd.comparison.supplier.distance.comparator.Pareto050Comparator"
            nominalMS="true"
            tandemMS="false"
            highResolutionMS="false">
      </ComparisonSupplier>
      <ComparisonSupplier
            comparatorName="Pareto (0.25)"
            description="This comparator calculates the similarity between two mass spectra with the covariance-based distance."
            id="org.eclipse.chemclipse.chromatogram.msd.comparison.supplier.distance.pareto.0.25"
            massSpectrumComparator="org.eclipse.chemclipse.chromatogram.msd.comparison.supplier.distance.comparator.Pareto025Comparator"
            nominalMS="true"
            tandemMS="false"
            highResolutionMS="false">
      </ComparisonSupplier>
   </extension>
</plugin>
