<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.xxd.process.ui.menu.icon">
      <icon
            class="org.eclipse.chemclipse.chromatogram.xxd.calculator.peak.resolution.ui.icon.MenuIcon"
            id="org.eclipse.chemclipse.chromatogram.xxd.calculator.peak.resolution">
      </icon>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.chemclipse.chromatogram.xxd.calculator.peak.resolution.result.IPeakResolutionResult"
            class="org.eclipse.chemclipse.chromatogram.xxd.calculator.peak.resolution.ui.internal.PeakResolutionAdapterFactory">
         <adapter
               type="org.eclipse.jface.viewers.IStructuredContentProvider">
         </adapter>
         <adapter
               type="org.eclipse.jface.viewers.ITableLabelProvider">
         </adapter>
         <adapter
               type="org.eclipse.chemclipse.support.ui.swt.columns.ColumnDefinitionProvider">
         </adapter>
      </factory>
   </extension>
</plugin>
