<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.chemclipse.msd.converter.ui.converterPreferencePage"
            class="org.eclipse.chemclipse.msd.converter.supplier.amdis.ui.preferences.PreferencePage"
            id="org.eclipse.chemclipse.msd.converter.supplier.amdis.ui.preferences.converterPreferencePage"
            name="AMDIS Converter">
      </page>
   </extension>
   <extension
         point="org.eclipse.chemclipse.xxd.process.ui.menu.icon">
      <icon
            class="org.eclipse.chemclipse.msd.converter.supplier.amdis.ui.icon.ChromatogramCombinedSpectrumMenuIcon"
            id="org.eclipse.chemclipse.msd.converter.supplier.amdis.chromatogram.combined.msl">
      </icon>
   </extension>
   <extension
         point="org.eclipse.chemclipse.xxd.process.ui.menu.icon">
      <icon
            class="org.eclipse.chemclipse.msd.converter.supplier.amdis.ui.icon.ChromatogramExportMenuIcon"
            id="org.eclipse.chemclipse.msd.converter.supplier.amdis.chromatogram">
      </icon>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="org.eclipse.chemclipse.msd.converter.supplier.amdis.ui.importCategory"
            name="Libraries">
      </category>
      <wizard
            category="org.eclipse.chemclipse.msd.converter.supplier.amdis.ui.importCategory"
            class="org.eclipse.chemclipse.msd.converter.supplier.amdis.ui.wizards.DatabaseCollectorWizard"
            icon="platform:/plugin/org.eclipse.chemclipse.rcp.ui.icons/icons/16x16/database.gif"
            id="org.eclipse.chemclipse.msd.converter.supplier.amdis.ui.wizards.databaseCollectorWizard"
            name="Database Collector (*.msl)">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.chemclipse.ux.extension.msd.ui.editors.DatabaseEditor"
            extensions="msl"
            icon="platform:/plugin/org.eclipse.chemclipse.rcp.ui.icons/icons/16x16/database.gif"
            id="org.eclipse.chemclipse.ux.extension.msd.ui.editors.DatabaseEditor.msl"
            name="Mass Spectra Database">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.chemclipse.ux.extension.msd.ui.editors.DatabaseEditor"
            extensions="msp"
            icon="platform:/plugin/org.eclipse.chemclipse.rcp.ui.icons/icons/16x16/database.gif"
            id="org.eclipse.chemclipse.ux.extension.msd.ui.editors.DatabaseEditor.msp"
            name="Mass Spectra Database">
      </editor>
   </extension>
</plugin>