<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.chemclipse.chromatogram.xxd.integrator.ui.preferences.integratorPreferencePage"
            class="org.eclipse.chemclipse.chromatogram.msd.integrator.supplier.sumarea.ui.preferences.PreferencePage"
            id="org.eclipse.chemclipse.chromatogram.msd.integrator.supplier.sumarea.ui.ui.preferences.sumareaIntegratorPreferencePage"
            name="Sumarea Integrator">
      </page>
   </extension>
</plugin>
