<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.chemclipse.chromatogram.msd.integrator.supplier.sumarea.ui.modelContribution"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.chemclipse.chromatogram.xxd.integrator.ui.preferences.integratorPreferencePage"
            class="org.eclipse.chemclipse.chromatogram.msd.integrator.supplier.sumarea.ui.preferences.PreferencePage"
            id="org.eclipse.chemclipse.chromatogram.msd.integrator.supplier.sumarea.ui.ui.preferences.sumareaIntegratorPreferencePage"
            name="Sumarea Integrator">
      </page>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc_integrator.xml">
      </toc>
   </extension>
</plugin>
