<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.chemclipse.chromatogram.msd.filter.supplier.denoising.ui.modelContribution"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.chemclipse.chromatogram.msd.filter.ui.preferences.filterPreferencePage"
            class="org.eclipse.chemclipse.chromatogram.msd.filter.supplier.denoising.ui.preferences.PreferencePage"
            id="org.eclipse.chemclipse.chromatogram.msd.filter.supplier.denoising.ui.preferences.preferencePage"
            name="Denoising">
      </page>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc_filter.xml">
      </toc>
   </extension>
   <extension
         point="org.eclipse.chemclipse.ux.extension.ui.measurementResultVisualization">
      <MeasurementResultVisualization
            Comparator="org.eclipse.chemclipse.chromatogram.msd.filter.supplier.denoising.ui.internal.provider.ResultsTableComparator"
            ContentProvider="org.eclipse.chemclipse.chromatogram.msd.filter.supplier.denoising.ui.internal.provider.ResultsContentProvider"
            Identifier="org.eclipse.chemclipse.chromatogram.msd.filter.supplier.denoising"
            LabelProvider="org.eclipse.chemclipse.chromatogram.msd.filter.supplier.denoising.ui.internal.provider.ResultsLabelProvider"
            SelectionListener="org.eclipse.chemclipse.chromatogram.msd.filter.supplier.denoising.ui.internal.provider.SelectionHandler"
            Titles="org.eclipse.chemclipse.chromatogram.msd.filter.supplier.denoising.ui.internal.provider.ResultTitles">
      </MeasurementResultVisualization>
   </extension>   
</plugin>
