<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.chemclipse.ux.extension.ui.modelContribution"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension point="org.eclipse.core.expressions.definitions">
      <definition
            id="isChromatogramEditor">
         <with
               variable="detectorType">
            <adapt
                  type="org.eclipse.chemclipse.ux.extension.ui.definitions.ChromatogramDetectorType">
            </adapt>
         </with>
      </definition>
   </extension>   
   
</plugin>
