<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.chemclipse.ux.extension.ui.welcometile" name="Welcome Tile" schema="schema/org.eclipse.chemclipse.ux.extension.ui.welcometile.exsd"/>
   <extension
         id="org.eclipse.chemclipse.ux.extension.ui.modelContribution"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.eclipse.chemclipse.ux.extension.ui.definitions.isChromatogramTypeMSD">
         <with
               variable="org.eclipse.chemclipse.ux.extension.ui.definitions.chromatogramType">
            <equals
                  value="CHROMATOGRAM_TYPE_MSD">
            </equals>
         </with>
      </definition>
      <definition
            id="org.eclipse.chemclipse.ux.extension.ui.definitions.isChromatogramTypeCSD">
         <with
               variable="org.eclipse.chemclipse.ux.extension.ui.definitions.chromatogramType">
            <equals
                  value="CHROMATOGRAM_TYPE_CSD">
            </equals>
         </with>
      </definition>
      <definition
            id="org.eclipse.chemclipse.ux.extension.ui.definitions.isChromatogramTypeWSD">
         <with
               variable="org.eclipse.chemclipse.ux.extension.ui.definitions.chromatogramType">
            <equals
                  value="CHROMATOGRAM_TYPE_WSD">
            </equals>
         </with>
      </definition>
      <definition
            id="org.eclipse.chemclipse.ux.extension.ui.definitions.isChromatogramTypeCWSD">
         <with
               variable="org.eclipse.chemclipse.ux.extension.ui.definitions.chromatogramType">
            <or>
               <equals
                     value="CHROMATOGRAM_TYPE_CSD">
               </equals>
               <equals
                     value="CHROMATOGRAM_TYPE_WSD">
               </equals>
            </or>
         </with>
      </definition>      
      <definition
            id="org.eclipse.chemclipse.ux.extension.ui.definitions.isChromatogramTypeXXD">
         <with
               variable="org.eclipse.chemclipse.ux.extension.ui.definitions.chromatogramType">
            <or>
               <equals
                     value="CHROMATOGRAM_TYPE_MSD">
               </equals>
               <equals
                     value="CHROMATOGRAM_TYPE_CSD">
               </equals>
               <equals
                     value="CHROMATOGRAM_TYPE_WSD">
               </equals>
            </or>
         </with>
      </definition>      
      <definition
            id="org.eclipse.chemclipse.ux.extension.ui.definitions.isChromatogramTypeNone">
         <with
               variable="org.eclipse.chemclipse.ux.extension.ui.definitions.chromatogramType">
            <equals
                  value="CHROMATOGRAM_TYPE_NONE">
            </equals>
         </with>
      </definition>                        
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.eclipse.chemclipse.ux.extension.ui.definitions.isScanTypeMSD">
         <with
               variable="org.eclipse.chemclipse.ux.extension.ui.definitions.scanType">
            <equals
                  value="SCAN_TYPE_MSD">
            </equals>
         </with>
      </definition>
      <definition
            id="org.eclipse.chemclipse.ux.extension.ui.definitions.isScanTypeCSD">
         <with
               variable="org.eclipse.chemclipse.ux.extension.ui.definitions.scanType">
            <equals
                  value="SCAN_TYPE_CSD">
            </equals>
         </with>
      </definition>
      <definition
            id="org.eclipse.chemclipse.ux.extension.ui.definitions.isScanTypeWSD">
         <with
               variable="org.eclipse.chemclipse.ux.extension.ui.definitions.scanType">
            <equals
                  value="SCAN_TYPE_WSD">
            </equals>
         </with>
      </definition>
      <definition
            id="org.eclipse.chemclipse.ux.extension.ui.definitions.isScanTypeXXD">
         <with
               variable="org.eclipse.chemclipse.ux.extension.ui.definitions.scanType">
            <or>
               <equals
                     value="SCAN_TYPE_MSD">
               </equals>
               <equals
                     value="SCAN_TYPE_CSD">
               </equals>
               <equals
                     value="SCAN_TYPE_WSD">
               </equals>
            </or>
         </with>
      </definition>            
      <definition
            id="org.eclipse.chemclipse.ux.extension.ui.definitions.isScanTypeNone">
         <with
               variable="org.eclipse.chemclipse.ux.extension.ui.definitions.scanType">
            <equals
                  value="SCAN_TYPE_NONE">
            </equals>
         </with>
      </definition>                        
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.eclipse.chemclipse.ux.extension.ui.definitions.isLibraryTypeMSD">
         <with
               variable="org.eclipse.chemclipse.ux.extension.ui.definitions.libraryType">
            <equals
                  value="LIBRARY_TYPE_MSD">
            </equals>
         </with>
      </definition>
      <definition
            id="org.eclipse.chemclipse.ux.extension.ui.definitions.isLibraryTypeNone">
         <with
               variable="org.eclipse.chemclipse.ux.extension.ui.definitions.libraryType">
            <equals
                  value="LIBRARY_TYPE_NONE">
            </equals>
         </with>
      </definition>                         
   </extension>      
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.eclipse.chemclipse.ux.extension.ui.definitions.isPeakTypeMSD">
         <with
               variable="org.eclipse.chemclipse.ux.extension.ui.definitions.peakType">
            <equals
                  value="PEAK_TYPE_MSD">
            </equals>
         </with>
      </definition>
      <definition
            id="org.eclipse.chemclipse.ux.extension.ui.definitions.isPeakTypeCSD">
         <with
               variable="org.eclipse.chemclipse.ux.extension.ui.definitions.peakType">
            <equals
                  value="PEAK_TYPE_CSD">
            </equals>
         </with>
      </definition>
      <definition
            id="org.eclipse.chemclipse.ux.extension.ui.definitions.isPeakTypeWSD">
         <with
               variable="org.eclipse.chemclipse.ux.extension.ui.definitions.peakType">
            <equals
                  value="PEAK_TYPE_WSD">
            </equals>
         </with>
      </definition>
      <definition
            id="org.eclipse.chemclipse.ux.extension.ui.definitions.isPeakTypeXXD">
         <with
               variable="org.eclipse.chemclipse.ux.extension.ui.definitions.peakType">
            <or>
               <equals
                     value="PEAK_TYPE_MSD">
               </equals>
               <equals
                     value="PEAK_TYPE_CSD">
               </equals>
               <equals
                     value="PEAK_TYPE_WSD">
               </equals>
            </or>
         </with>
      </definition>      
      <definition
            id="org.eclipse.chemclipse.ux.extension.ui.definitions.isPeakTypeNone">
         <with
               variable="org.eclipse.chemclipse.ux.extension.ui.definitions.peakType">
            <equals
                  value="PEAK_TYPE_NONE">
            </equals>
         </with>
      </definition>                        
   </extension>     
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.chemclipse.rcp.app.ui.preferences.settingsPreferencePage"
            class="org.eclipse.chemclipse.ux.extension.ui.preferences.PreferencePage"
            id="org.eclipse.chemclipse.ux.extension.ui.preferencePage"
            name="Drive Settings">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.chemclipse.ux.extension.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.chemclipse.ux.extension.ui.welcometile">
      <WelcomeTile
            Description="Please write us an email if you need help."
            Section="Help">
      </WelcomeTile>
      <WelcomeTile
            Description="Have a look at the Eclipse Science working group."
            Section="Eclipse Science">
      </WelcomeTile>
      <WelcomeTile
            Description="If your data can&apos;t be loaded, please contact us."
            Section="Data Formats">
      </WelcomeTile>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            name="Basics"
            id="org.eclipse.chemclipse.ux.extension.ui.cheatsheet.basics">
      </category>
      <cheatsheet
            name="Basic Peak Detection and Integration"
            category="org.eclipse.chemclipse.ux.extension.ui.cheatsheet.basics"
            contentFile="cheatsheets/PeakDetectionIntegration.xml"
            id="org.eclipse.chemclipse.ux.extension.ui.cheatsheet.PeakDetectionIntegration">
         <description>
            This cheat sheet will guide you through basic peak detection and integration.
         </description>
      </cheatsheet>
   </extension>
</plugin>
