<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.chemclipse.converter.ui.converterPreferencePage"
            class="org.eclipse.chemclipse.xxd.converter.supplier.chemclipse.ui.preferences.PreferencePage"
            id="org.eclipse.chemclipse.xxd.converter.supplier.chemclipse.ui.preferences.converterPreferencePage"
            name="OpenChrom Converter (*.ocb)">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.editors">  
      <editor
            class="org.eclipse.chemclipse.xxd.converter.supplier.chemclipse.ui.editors.EditorChromatogram"
            extensions="ocb"
            icon="icons/16x16/chromatogram.gif"
            id="org.eclipse.chemclipse.xxd.converter.supplier.chemclipse.ui.editors.editorChromatogram"
            name="Chromatogram">
      </editor>      
   </extension>   
</plugin>
